[2016-04-11 19:53] paulproteus commented on #1805
Hi @memento ,

I'm going to close this now, since it seems you were able to get your issue fixed, and https://github.com/sandstorm-io/sandstorm/issues/1808 tracks a request to change Sandstorm to give users a way to automatically fix this error without the script. But honestly @memento your script seems useful, I'm glad you chose to publish it!

[2016-04-11 19:53] #1805 closed

[2016-04-11 19:56] ocdtrekkie commented on #1808
Does the app market contain all previous versions of apps that have been submitted to it?

[2016-04-11 19:59] paulproteus commented on #1808
I believe the package files are in fact kept, yes.

[2016-04-12 04:43] ocdtrekkie opened #1816 "UI: "Can What?" Permissions dialog isn't big enough to read it."
Oasis, using Firefox on Windows. The options are "Can Edit" and "Can View", but you definitely can't tell which this link is from this display.

![canwhat](https://cloud.githubusercontent.com/assets/4399499/14449969/0451be6a-003f-11e6-8240-7f35aa09db60.png)

[2016-04-12 05:32] ocdtrekkie opened #1817 "App Not Installed Error appears repetitively during restores"
So, I restored a grain to Oasis where I didn't have the app installed, and I got the error for that. So I installed the app, and then restored the grain, and all was good.

But every successive restore also shows the App Not Installed error briefly before proceeding to restore the grain, even for other apps. It seems like somewhere in the flow this message isn't being cleared out or cleaned up.

[2016-04-12 06:13] paulproteus commented on #1817
FWIW this is a classic bug to write when making apps that use Meteor.
Thanks for filing it. A screenshot would help if you're willing to provide
it!

[2016-04-12 06:15] ocdtrekkie commented on #1817
It's hard to screenshot it because it is a brief flash. But it is just the exact same message you get when restoring a grain where the associated app ID is not presently installed.

[2016-04-12 10:11] neo-luddite commented on #1098
actually I'd prefer implementing HTTP header-based auth to ldap. With that I can host multiple services on one domain without having the user to (re-)enter credentials several times (small organisations often have to aggregate services).

Also people wouldn't have to depend on auth methods sandstorm supports but could also use the ones the webserver is able to handle (for a small group of people l

[2016-04-12 17:30] neynah commented on #1816
Same issue as https://github.com/sandstorm-io/sandstorm/issues/877. We should fix it!

[2016-04-12 18:08] ocdtrekkie commented on #1816
Oops! I am sorry, I didn't know it was duplicate.

[2016-04-12 18:08] #1816 closed

[2016-04-12 23:49] neynah opened #1820 "Admin Panel Redesign: Identity Providers"
Changes required to ship:
- [x] add a string about organization management below the table
- [x] link organization management button to "For Work" tab
- [x] display "Not enabled" tags for LDAP & SAML
- [x] For non-SFW: change "To enable LDAP..." -> "Configure Sandstorm for Work..." and make it a button right-aligned
- [x] disable save button until changes are made
- [x] configuration modals(per id

[2016-04-12 23:51] neynah opened #1821 "Admin Panel Redesign: Email Configuration"
Changes required to ship:
- [ ] update all copy to same UI in wizard/admin onboarding
- [ ] disable "Save configuration" button until a change is detected
- [ ] remove cancel button

Out of scope:
- [ ] provide/display real error in email test

Current mock-up:
![emailconfiguration1](https://cloud.githubusercontent.com/assets/855341/14478923/b5d91a54-00ce-11e6-808c-7191712c9058.png)

[2016-04-13 00:07] neynah opened #1822 "Admin Panel Redesign: User Accounts"
Required to ship User Accounts:
- [x] change "Guest" -> "Visitor"
- [x] "created" and "last used" dates should align vertically center
- [x] look into user accounts: DOM representation
- [x] add label "Show" above/beside role filter checkboxes
- [x] stack & left-align role filter checkboxes
- [x] add number count to role filter labels
- [x] figure out a way to communicate what "A" "U" "V" icons ar

[2016-04-13 00:13] neynah opened #1823 "Admin Panel Redesign: Network Capabilities"
Changes required to ship:
- [ ] link grain title to grain
- [ ] add checkbox filters to show "active" and "revoked", uncheck "revoked" but default
- [ ] add confirmation for revoking, something like: "Are you sure, this will break this app..."
- [ ] for the user, display "Temporarily unavailable, try again later" if capability has been revoked"

Out of scope:
- [ ] where in cap'n p does "grain tit

[2016-04-13 00:17] neynah opened #1824 "Admin Panel Redesign: App Sources"
Required to ship:
- [ ] change "App Configuration" -> "App Sources"
- [ ] disable "Save" button until change is detected
- [ ] remove "Cancel" button
- [ ] disable "Restore to default" button until inputs are different from default

Current mock-ups:
![appsconfiguration1](https://cloud.githubusercontent.com/assets/855341/14479355/5833a9c4-00d2-11e6-9531-03f15376ae26.png)

[2016-04-13 00:20] neynah opened #1825 "Admin Panel Redesign: System Stats"
Required to ship:
- [ ] white-space: pre-wrap
- [ ] link Sandstorm version number to "About Sandstorm"
- [ ] for "Current usage" show demo accounts separately
- [ ] restyle "Download full log" button to primary

Out of scope:
- [ ] change "users" -> "user accounts" or "people active"

Current mock-ups:
![systemstatus2](https://cloud.githubusercontent.com/assets/855341/14690284/4869d0a2-0700-11e6-9

[2016-04-13 00:25] neynah opened #1826 "Admin Panel Redesign: Stats"
Required to ship:
- [ ] restyle "Regenerate token" button to secondary styling
- [ ] add "Copy" button (primary styling)
- [ ] add help text under "Regenerate token" button. Something like: "This will revoke..."
- [ ] display token in non-editable text field
- [ ] add description text: "If you want to integrate Sandstorm stats with an internal stats tool, use this link and access content using JSO

[2016-04-13 00:28] neynah opened #1827 "Admin Panel Redesign: For Work"
Changes required to ship:
- [ ] Change "Feature key" -> "For Work"
- [ ] update to match wizard / admin onboarding UI
- [ ] update SFW string to list more things

Current mock-up:
![featurekey1 1](https://cloud.githubusercontent.com/assets/855341/14904722/18c8bbdc-0d5f-11e6-89d5-65db01ee0ea6.png)

[Previous mock-up](https://cloud.githubusercontent.com/assets/855341/14479486/f98912ea-00d3-11e6-9071

[2016-04-13 00:39] neynah opened #1828 "Admin Panel Redesign: Organization Settings"
Changes required to ship:
- [ ] design organization settings page to match wizard
- [ ] disable form if there is no feature key
- [ ] add more information about SFW if there is no feature key
- [ ] add link to "Get Sandstorm for Work" if there is no feature key

Note: The nav pill for "Organization Settings" will be betweeen "Identity Providers" and "User Accounts"

Current mock-up:
![org-settings

[2016-04-13 00:41] neynah opened #1829 "Admin Panel Redesign: Admin Alerts"
Changes required to ship:
- none currently

Current mock-up:
![adminalerts2](https://cloud.githubusercontent.com/assets/855341/14570958/a7fa9a28-02fb-11e6-84c4-32009d700b1e.png)

Once the user has made changes, "Send alert" button will no longer be disabled. It will be styled as a primary button.

[2016-04-13 01:19] zeigerpuppy opened #1830 "Feature Request: Groups of grains (projects)"
It would be very useful to be able to group grains together, for instance if one has three related etherpad grains and an ethercalc grain, then they could be grouped and shared as one "project".

This would probably be best implemented by a tag and filter system.
The advantages would be considerable:
- ability to sort by project
- makes archiving easier
- grains naturally go together in projects
-

[2016-04-13 01:41] neynah commented on #1830
Existing grouping/folder discussion here: https://github.com/sandstorm-io/sandstorm/issues/969 and grain management/tagging discussion here: https://github.com/sandstorm-io/sandstorm/issues/364

[2016-04-13 21:28] paulproteus opened #1832 ""Request access" button promises to notify users, but doesn't, when a Sandstorm server lacks email support"
Steps to reproduce:

- Give a friend a grain link on a self-hosted Sandstorm without email configured, e.g. https://rose.sandcats.io/grain/g9PBtFpm6Awm5yfd59f7jn

- Ask friend to click on it

- Friend sees a "Sign in to request access" string, so signs in

- Friend requests access

Expected behavior:

- Somehow I see this request for access

Actual behavior:

- I think Sandstorm doesn't notify me,

[2016-04-13 23:53] memento commented on #57
Hi! I see. Do you need any help for beta or even alpha testing ? I'd be glad to participate

[2016-04-13 23:54] memento commented on #57
What's the name of your future app, BTW ?

[2016-04-14 04:42] ojosedo opened #1836 "WILDCARD_HOST misconfigured"
I'm using Debian 8 for self-hosting sandstorm at my home and I'm having infinite loading grains and this alert in the settings page:

![wildcard problem](https://cloud.githubusercontent.com/assets/6635227/14517112/7334b440-01cf-11e6-9059-cb44e7cfd30c.png)

#### this is my sandstorm.conf:

[code]

#### this is the log in the grain:

[code]

#### I have open this TCP port:

80,443,6080,30025

I'm mi

[2016-04-14 07:00] kentonv commented on #1836
Strange, your server looks good from here: I can confirm the wildcard is responding as expected. But the symptoms you describe definitely sound like it isn't working from your browser, which is odd.

Are there any errors in the Javascript console? (Press F12 to open it.)

Are you using any unusual browser extensions? Sometimes we see extensions that purport to "block tracking" by blocking all cros

[2016-04-14 16:14] ojosedo commented on #1836
Thank you, I solve the problem, it was a wildcard problem

my router do not hairpinning so I edit /etc/hosts but this do not support wildcards.

I found [this](http://stackoverflow.com/questions/20446930/how-to-put-wildcard-entry-into-etc-hosts) solution, thank you again, your suggest was the key.

[2016-04-14 19:59] #1756 closed

[2016-04-14 21:01] #1824 closed

[2016-04-15 00:38] kentonv commented on #1827
I feel like this page could use more work. The "request feature key" button feels haphazardly-placed and easy to miss. I think we need to make it bigger and more obvious somehow, or maybe rethink the interaction here to do a better job encouraging people to get a key.

[2016-04-15 00:42] kentonv commented on #1823
Since these capabilities are granted primarily to grains, not people -- and will usually be granted to grains owned by the admin -- it seems like the grain title should be emphasized in the "granted to" column, maybe with "owned by X" shown only if it doesn't match the "Granted by" column.

[2016-04-15 00:50] kentonv commented on #1820
I do not believe that putting the checkbox at the bottom will fix any confusion. It's bad UX to make people notice and click on an extra small box when 99.99% of people who click the "save" button obviously want to enable the service, with the failure mode being "it doesn't work for no apparent reason". Please find a better solution here.

Possibilities:
1. Make primary button "Save and Enable" bu

[2016-04-15 00:57] neynah commented on #1820
Interesting. I agree that most people will want it enabled so I like possibility 1. For possibility 2 we can show the status in the table (as the mock-up currently does) and just have a button beside it that says "Enable" if the status is "Disabled and "Disable" if the status is "Enabled".

[2016-04-15 01:28] kentonv commented on #1820
I prefer 1 as well. For the common case, it avoids making the user think about an extra thing and click an extra button. I suspect most users will expect that when they click "save", the service is now enabled.

In fact, I'd like to modify my suggestion. I don't think anyone ever wants to "save but leave disabled". Therefore, I don't think we need that button. Instead, let's just have the "save" b

[2016-04-15 01:38] kentonv commented on #57
@memento - Currently everyone is a beta tester. :) We do weekly releases that include all the latest features. But this one isn't ready yet.

We intend to port Transmission to Sandstorm once we're ready. We actually probably won't write a BitTorrent device driver for this, but instead will have Transmission request a "full network access" capability. Only the server administrator is able to grant

[2016-04-15 02:07] kentonv commented on #1836
Great, glad you solved it!

[2016-04-15 02:07] #1836 closed

[2016-04-15 03:12] mitar opened #1840 "Make basic `spk` commands work on Mac OS X"
Some `spk` commands arguably do not really require Linux and could be made to work on Mac OS X as well (basic commands and not `spk dev`).

Related: https://github.com/sandstorm-io/meteor-spk/issues/17

[2016-04-15 03:17] ocdtrekkie commented on #1840
I will note that if I could "spk verify" on Windows, I would be super excited, but I know that's a super tall order.

[2016-04-15 03:17] mitar commented on #1743
I completely agree. This should not be in the menu.

Furthermore, when you shared the grain with others, I do not think others should be able to delete it either (it seems they can, at least when I was playing with demo).

Moreover, when you share the grain with others, what if they do not want grain to be deleted? Like, I worked hard to contribute to some text, you decide to scrap it, but I would

[2016-04-15 03:18] kentonv commented on #1840
@ocdtrekkie How do you feel about Cygwin? If we make it work on OSX then it'll probably work on Cygwin.

(Also, I'm curious why you're so interested in `spk verify`... :) )

[2016-04-15 03:19] kentonv commented on #1743
No, they can't. They can only "forget" it, meaning they'll no longer see it in their own grain list, but the original still exists in the owner's grain list.

[2016-04-15 03:20] mitar commented on #1713
Can we also please move Sandstorm menu to the right? So that main content is on the left. You much less interact with the Sandstorm once you are in the app, so right side is much better for that.

[2016-04-15 03:22] mitar commented on #1743
But the icon they have in the toolbar is the same trash icon, no? So it looks like they can delete it.

[2016-04-15 03:34] ocdtrekkie commented on #1840
I have no problems dealing with Cygwin, but also... you know we get Bash in July, right? Actually... I kInda wonder if it'll "just work" with Bash? Ubuntu subsystem and stuff?

I only open up Ubuntu for dev work, all of my files and stuff (SPKs, grain backups, etc.) are stashed on Windows.

[2016-04-15 04:02] kentonv commented on #1840
Well, it's not "bash" that will make it work, it's the Linux compatibility layer, which indeed may solve the problem (for Windows) without needing any changes on Sandstorm's end. Though I suspect the user experience may turn out pretty similar to running a VM.

[2016-04-15 04:03] kentonv commented on #1743
@mitar Yes, it's the same icon, but it doesn't delete the grain, only forgets it. We should definitely try to make this less confusing, though.

[2016-04-15 04:05] ocdtrekkie commented on #1840
We shall have to see, Microsoft and Canonical claim the whole thing is totally magical..............

[2016-04-15 04:09] zarvox commented on #1820
This seems pretty good.  I'd add a slight refinement: making the "Save" button contain the verb "Enable" in the popup if the login service is not yet enabled, and "Save" or "Update" if it is currently enabled.

To summarize: popups should have the following buttons:

* (if service currently disabled) "Enable" or (if service currently enabled) "Save".  Default action.  Disabled unless the form has

[2016-04-15 06:24] mitar opened #1841 "Use a different icon to delete a grain and to forget about a grain"
Currently, when a grain is shared with somebody, they get into their toolbar the same delete icon, but the action is to forget about grain. While delete icon in the toolbar is a question by itself (#1743), in any case I would claim that the icon should be different. Just not to confuse users that they have some permissions which they do not have (namely, to delete a grain).

[2016-04-15 06:25] mitar opened #1842 "Prevent deletion of a grain if users with whom it was shared does not agree with"
When you share the grain with others, what if they do not want grain to be deleted? Like, I worked hard to contribute to some text on grain you shared with me, you decide to scrap it, but I would want to keep it around. This is especially important in collaborative tools.

[2016-04-15 06:37] ocdtrekkie commented on #1841
I was trying to think about what icon this should be. I've seen an X used for removal before, but that'd be confused with just closing the grain.

https://thenounproject.com/search/?q=eject&i=89
https://thenounproject.com/search/?q=hide&i=302876
https://thenounproject.com/search/?q=break+link&i=305810

Eject might be a good one. IIRC (Been a while), the trash can on OS X changes to an eject logo w

[2016-04-15 06:39] ocdtrekkie commented on #1842
This is one reason I've noted I'd like a "clone grain" functionality to be available to offer up to certain roles. Similarly, those roles should allow those users to download the grain backup themselves.

Clone grain is being tracked in https://github.com/sandstorm-io/sandstorm/issues/1703

[2016-04-15 06:44] mitar commented on #1841
Maybe I think the solution is to remove this icon from the toolbar first. And then wherever it is next, there can be some text with the icon describing the action.

[2016-04-15 06:45] zarvox commented on #1841
If we move this functionality to the grainlist as proposed in #1743, I'd be happy to solve this problem by making this a button with a text label "Remove".  Or perhaps in the context of the grain list, the ambiguity won't be a problem.

FWIW, Google Docs uses the verb "Remove" and the trash can icon for both docs you created and those shared with you.

[2016-04-15 06:46] mitar commented on #1841
Yes, Remove/Forget vs Delete/Destroy.

[2016-04-15 06:47] mitar commented on #1842
Yes, but cloning might be different (you are getting access also to their data - you are becoming admin over the whole grain).

Hm, how does Google Doc address this. If a document is shared with me with all editing capabilities, and then owner deletes it, what happens? What happens if I added it to my Drive before that?

[2016-04-15 06:50] kentonv commented on #1842
The owner owns the grain. When contributing to someone else's grain, you need to consider the possibility that the owner might delete it. If you are concerned, you can work out an agreement with the owner, or you can copy/paste a backup of your work. I agree that we should support a more automated way to "clone" a grain, as discussed in #1703, but that's really all we can do here.

Google Docs wor

[2016-04-15 06:56] mitar commented on #1842
I think control over your data is one of very important aspects of modern web. I hoped that sandstorm would be improving here, not accepting the status quo. If I am contributing my data to somebody else, I at least want a way to be able to export it, keep it.

I would even say, that might be a legal requirement in EU countries. To be able to download all your data you have input into a system. Fac

[2016-04-15 08:40] mitar opened #1843 "Use existing GPG keys instead of generating new ones"
I am new to Sandstorm, so maybe I missed something, but I see that it generated new keys in `.sandstorm-keyring`. Could Sandstorm simply use my existing GPG key?

[2016-04-15 09:12] zarvox commented on #1843
Sandstorm uses Ed25519 keys to identify and sign app packages.  You can use your existing GPG key to sign a statement that proves you are the owner of an app signing key, as described in https://docs.sandstorm.io/en/latest/developing/publishing-apps/#verify-your-identity

If you want to read a bit about why our signing scheme works this way, check out: https://sandstorm.io/news/2015-11-12-authenti

[2016-04-15 09:44] mitar commented on #1843
Hm, my main issue is that there is another keyring I have to think about. Is there a way to at least store those new keys into the GPG keyring? Then I could just backup/store that securely at one place. Now I have to think about one keyring more.

One more thing, it seems Sandstorm keyring is not encrypted?

[2016-04-15 10:51] mitar opened #1845 "Allow custom domain"
If I create a grain and share it with other users, I think it would be great if we could all use some custom domain to point to this our shared grain. Otherwise it is really tricky to open it: you have first go to Oasis, find it, click it, and so on. Similarly URLs in e-mail notifications could be nicer. And bookmarks.

cc @wrought

[2016-04-15 11:02] mitar opened #1846 "Look into suborigins"
I see that Sandstorm is creating new origins for new sessions. I think you might like this spec being worked on: https://w3c.github.io/webappsec-suborigins/

[2016-04-15 11:07] mitar opened #1847 "Trusted UI components for apps"
Currently, most apps are not written with Sandstorm in mind and are just wrapped to be able to run there. But in the long term Sandstorm as a platform could provide apps some new primitives to use. One such primitive I would love to see are some trusted UI components. For example, my app could ask Sandstorm to ask the user for some sensitive data which would be provided directly to the server-side

[2016-04-15 11:11] mitar opened #1848 "Who's responsibility is to redirect directly opened URLs to the Sandstorm URL?"
I see in the Rocket.Chat app that I can open internal frame directly in the browser. Shouldn't the app redirect to Sandstorm URL in this case? So always require the frame to be around? Is this problem of Rocket.Chat?

[2016-04-15 11:31] mitar opened #1849 "Are usernames unique?"
In [documentation it is not clear](https://docs.sandstorm.io/en/latest/developing/auth/) if usernames are unique. It is written that handles are not. But are usernames?

[2016-04-15 11:44] mitar opened #1850 "A way for an app to open a dialog of all users with access to the app"
Currently, I have an integrated admin interface for users and their permissions in the app. Now, to my understanding, Sandstorm would take care of this and I would just trust the headers. But for users which expect the admin interface to exist I would like to prompt a message/give a link/redirect to Sandstorm page/dialog which would show all users with access to the app and which permissions/roles

[2016-04-15 11:45] mitar opened #1851 "Dynamic roles"
It seems that currently apps can have only static roles defined. It would be great if app could propose some default roles, but that the user could define their own roles for the app, using their own lists of permissions. (App would still define a static list of permissions.)

[2016-04-15 11:53] mitar opened #1852 "Control which users can share the grain further and which do not"
It would be great to be able to define which users can share the grain further and which do not.

[2016-04-15 17:33] neynah commented on #1852
Could you tell us a bit more about the use case(s) where this would be beneficial for you?

[2016-04-15 17:43] mitar opened #1853 "Can permissions and roles in the package.capnp be more human friendly?"
Configuration files should be user/developer friendly. Current approach where list of permissions have to be correctly ordered, nothing should be removed, and `permissions` for a role is an array of booleans is probably nice for the implementation, but not so nice to maintain. Can you make it simpler?

[2016-04-15 17:45] mitar commented on #1852
I have a voting app/group decision making app. I would like that the user creates a new grain (they are admin) and then invite other users to vote on an issue (have permission to do so). But those other users should not be able to invite more people, because they might be outside of the allowed voters. (In my particular case I do not mind them inviting more people to watch the voting process, but

[2016-04-15 17:47] zarvox commented on #1849
`X-Sandstorm-Username` is the user's chosen display name and is not unique.

`X-Sandstorm-User-Id` is derived from the user's identity and is unique.  Use this if you want a unique user identifier, or (since you've been asking about Meteor) look at https://github.com/sandstorm-io/meteor-accounts-sandstorm

[2016-04-15 17:48] zarvox commented on #1850
This could probably be implemented over `postMessage`, in a way similar to what we do for `startSharing`.  ( @paulproteus did `startSharing` ever get documented? )

[2016-04-15 17:51] zarvox commented on #1851
Can you give a motivating example for why this is useful?  I have a hard time seeing what dynamically-defined roles atop static permissions give you, since if your permissions are static, your possible roles are the powerset of your permissions.

[2016-04-15 17:51] mitar commented on #1849
So none of user-friendly display name/usernames are unique? This pretty defeats the purpose of them. At least handles should be unique. So that one can change them through Sandstorm and all apps can automatically update them. Now an app might have a different handle because of the unique constraints. Also, now app have to handle updating it every time they update in Sandstorm. So it has to check f

[2016-04-15 17:56] ocdtrekkie commented on #1849
The problem is that a Sandstorm server cluster like Oasis may have hundreds of thousands of users who will never interact outside of their own social circle. Saying I can't be "jake" because there's some other customer named jake who I can't even see the profile of is silly. The other problem is that sometimes the same user has multiple identities on a server via GitHub or Gmail or what have you.

[2016-04-15 17:56] mitar opened #1854 "Use Blaze Components"
Shameless plug. :-)

But I think the UI would have much more consistency if you would use some components system, like Blaze Components. You can migrate slowly, because it is nicely integrated with Blaze.

[2016-04-15 17:56] mitar opened #1855 "Allow reactivelly informing the app of changes to the account"
For example, Sandstorm account could have handle changed. This will be send next time with next request to the app, I presume. But in Meteor, one does not really send new requests because apps are single-page apps. So some reactive way of informing the app of the change would be great. So that app can immediately respond to the handle change.

[2016-04-15 18:02] dwrensha commented on #1851
@zarvox: our UI currently does not provide a way to assign an arbitrary subset of permissions. I believe that's exactly what @mitar is asking for here.

[2016-04-15 18:09] ocdtrekkie commented on #1851
I imagine there are permissions that only make sense when couple with other permissions. (I imagine a lot of apps not written for a blind drop like capability would break if you gave someone write permissions but not read permissions.) I would think the solution to not having a set of permissions you want is for the app author to add it.

[2016-04-15 18:13] zarvox commented on #1854
Sorry, but I don't think this one is going to happen.

To elaborate: I find Blaze very lacking in ergonomics.  The design of template helpers and data context inevitably makes *reading* Blaze templates a painful experience.  Additionally, event dispatch is bound by selectors rather than to specific elements.  You cannot understand the behavior of the JS without looking at the HTML, and you cannot

[2016-04-15 18:31] zarvox commented on #1855
We've discussed wanting to provide grains with some API they can use to subscribe to change notifications about things like grain title ( #1629 ) or user permissions ( #1709 ).  I imagine other profile information like preferred-handle change would be worth supporting in whatever we implement there.

[2016-04-15 18:48] kentonv commented on #1842
That's really between you and the grain owner. Sandstorm has no idea how the apps work and so cannot help you.

Consider that it's a critical security feature that owners be able to revoke sharing. You're proposing that owners not be allowed to revoke sharing links. Sorry but there's just no way this is going to fly.

[2016-04-15 18:48] #1842 closed

[2016-04-15 18:49] zarvox commented on #1849
Adding on to what @ocdtrekkie said - in the brave federated future, you again can't enforce uniqueness on *any* user-chosen identifier, unless it chains into some other globally-unique namespace (like DNS domains + email addresses).

On [Zooko's triangle](https://en.wikipedia.org/wiki/Zooko's_triangle), you can only get two of three of (human-meaningful, decentralized, secure/unique).  X-Sandstorm

[2016-04-15 18:49] #1849 closed

[2016-04-15 18:55] kentonv commented on #1843
GPG's interface is really awful, even more so for programs trying to call into it programmatically. Sorry, I do not think we want to try to put keys into the GPG keyring.

Encrypting the keyring makes sense, though, so I'll rename the bug to that.

[2016-04-15 19:03] kentonv commented on #1845
Sandstorm is all about having lots of small grains and (soon) connecting them to each other. It doesn't make much sense to put a single Etherpad document on its own domain. We aren't really aiming to host the kind of monolithic apps that make sense to have their own domain. We might support it someday, but since there are already lots of great hosting services out there for that kind of thing, we

[2016-04-15 19:03] #1845 closed

[2016-04-15 19:04] #1854 closed

[2016-04-15 19:07] kentonv commented on #1846
Yes, we're aware of this and will keep our eye on it, as it could perhaps avoid the need for a wildcard host -- though only with sufficiently-new browsers.

Sorry, I'm closing this issue because it isn't a bug nor feature request. It would be great to send these kinds of things to the mailing list rather than file issues. Thanks.

[2016-04-15 19:07] #1846 closed

[2016-04-15 19:08] kentonv commented on #1847
Thanks for the idea, but this seems too open-ended for the issue tracker. Feel free to start a thread on the mailing list.

[2016-04-15 19:08] #1847 closed

[2016-04-15 19:17] kentonv commented on #1848
We don't consider this a problem. Opening the grain host in a window without the Sandstorm chrome doesn't allow the app to do anything bad. Mostly it hurts the app because if the grain tab in the sandstorm UI is closed then the app server will shut down and any external windows will stop working.

[2016-04-15 19:20] kentonv commented on #1851
It has always been my intent that we could add an "advanced" UI where the user can toggle permissions as checkboxes -- with warnings that the app may not actually support arbitrary combinations, so the results are unpredictable.

But yeah, I think it would be very rare for this to actually be useful and I wouldn't want to implement it until we see an actual use case.

[2016-04-15 19:23] kentonv commented on #1852
This is something we'd like to implement as a "policy": When you share, you could set the policy on the share that "this is not to be reshared".

Note that it is technically impossible to share with someone but prevent them from resharing maliciously -- they can always share their login credentials or implement some form of proxy. The "policy" would be what capability people call "voluntary oblivi

[2016-04-15 19:34] kentonv commented on #1852
I suppose for your voting app, what you really want is some way to grant exactly one vote to each user with whom you share. If they reshare, they are resharing their 1 vote, not allowing other people to add additional votes. This will become possible at some point.

[2016-04-15 19:41] kentonv commented on #1855
I think what we want to do here is restart all sessions when session parameters change. We already do this in the case of permissions changing.

[2016-04-15 19:43] kentonv commented on #1854
Yeah, if we are going to slowly migrate our UI code to something more-organized, it might as well be React.

[2016-04-15 19:55] #1820 closed

[2016-04-15 20:00] #1624 closed

[2016-04-15 21:05] neynah commented on #1832
This is especially sad since the you (the Admin) and your friend requesting access will never know this "request access" action took place.

Any screenshots would be helpful for me to provide suggestions for improvements. Do we currently show some success message even if it's unsuccessful?

[2016-04-15 21:08] mitar commented on #1087
I would vote for having only one title for a grain, shared between all users.

We could allow subtitles or notes to be added which would be visible only to a given user.

[2016-04-15 21:19] mitar opened #1857 "Support for owner without all permissions"
I am trying to port my group decision making/voting app to Sandstorm. In that setting, the person who setups the decision making process would create a grain and invite all members of the community to join and make a decision, with permission to vote. But in many cases the owner/admin themselves should not be allowed to vote, because they are staff person/officer just facilitating the process. So

[2016-04-15 21:23] mitar commented on #1846
Will do.

[2016-04-15 21:35] mitar commented on #1851
So here I am thinking of an app which has native support for Sandstorm and understands the concept of capabilities. So in some way it knows how to respond to user having a permission or not in a sensible way: hiding that part of UI, or showing it, displaying a message about lack of permission, and so on.

I think from Android manifest file approach we learned that there initially, it might seem ea

[2016-04-15 21:47] mitar opened #1859 "Sandstorm should handle assuring that handles/usernames for a particular grain are unique"
Based on discussion in #1849, I would like to propose that making sure user's preferred handles are unique per grain is done by Sandstorm and not by the app. This is probably one of those things which are useful for many apps and it is really bad that each app has specially handle this. It would be great that the platform would take care of this.

How I imagine it is something like this:
* user is

[2016-04-15 22:01] mitar commented on #1842
Maybe then this Sandstorm is really not suitable platform for having online voting. I thought that because of high security focus it could be a perfect match. Imagine an official running elections on Sandstorm, they start a voting, invite everyone to vote, people start voting (contributing data), and then official discovers that voting is not going according to "plan". So they can just decide to d

[2016-04-15 22:07] mitar commented on #1852
So if they give their login credentials, then yes, they are resharing their 1 vote. There can be some other ways to prevent that (requiring for example [ID cards with a hardware chip](https://en.wikipedia.org/wiki/Estonian_ID_card), so they would have to literally give to the other person their card).

But in my case app can make sure that each user can vote only once, but who can vote should (in

[2016-04-15 22:09] mitar commented on #1843
Didn't they fix this with GPG 2? Make it easier to use it with porcelain?

Cool.

[2016-04-15 22:12] mitar commented on #1855
Based on some bad experience with Meteor hot-reloading, I think apps should have some control in saying when this session restarting should take place and how. Otherwise users might loose their work if you reload underneath them.

So maybe a better API would be to have some way that Sandstorm informs the app of its intent to restart the session and then app decides when to do that (by reloading or

[2016-04-15 22:15] dwrensha commented on #1832
@paulproteus: does the requester see any error at all? We have code that should display the error, and it seems to be working for me: https://github.com/sandstorm-io/sandstorm/blob/dddb5646cc7a2335a27698a0b2bfe378c70a1b16/shell/client/shell.html#L209-L219

Maybe the error message should be more visually prominent, perhaps by making it red. Also, it seems that the common error for us to display now

[2016-04-15 22:30] mitar commented on #1845
Could it be at least a redirect? So that I as an owner could create a custom redirect to that one grain.

[2016-04-15 22:39] mitar commented on #1854
I think the issues you are bringing out are addressed by Blaze Components, and I think porting effort is much smaller than what would porting to React require. Not sure what " it doesn't appear to do anything about limiting the scope of template helpers" exactly means, because In Blaze Components helpers are methods on the component.

But, I do not want to open a big discussion here. I wanted to p

[2016-04-15 23:29] zarvox commented on #1829
Some amendments to the design, based on discussion with Kenton (the primary user of this feature):

* renamed Admin Alerts to Maintenance Message
* removed $ACCOUNT_EXPIRES, $ACCOUNT_EXPIRES_IN, and $APPNAME, which were legacy from the old demo server setup
* placed the copy above the form
* renamed the "Send alert" button to "Set message"

[2016-04-15 23:33] ocdtrekkie commented on #1842
Maybe you shouldn't have the vote started by the grain owner then?

[2016-04-15 23:42] ocdtrekkie commented on #1842
I mean, as long as your data lives on a server, someone ultimately has the ability to turn off that server or delete the data on it. Someone has the ultimate authority. If you want to ensure it isn't deleted because of a unpleasant result, you probably need to give grain ownership (and server admin ownership for that matter) to someone impartial. So maybe make your app controlled by an admin perso

[2016-04-15 23:44] kpreid commented on #1857
The problem with negative permissions (whether explicitly a feature or implied by something else) is that you can always make another identity that doesn't have them. That was my first thought.

Then I realized that this makes sense in an organization where new accounts are created administratively and not by just anyone.

A capability-pattern suggestion for how to obtain this functionality withou

[2016-04-15 23:46] ocdtrekkie commented on #1845
I'm trying to determine if there's a special need beyond "have a redirect to a grain link". Because you can always create a redirect that leads to a URL, and you could use a sharing URL for it. Like sandstorm.io/vote goes to a Sandstorm grain, but that's of course not set in Sandstorm itself.

[2016-04-16 00:00] wrought commented on #1845
Allow me to elaborate on a use case:

1. Our organization, [Omni Commons](https://omnicommons.org/) is attempting to use web collaboration tools.
2. We have people of all age / skill / experience levels, etc. We will have to provide training / support.
3. In the past, apps like Rocket.Chat or Wekan or Etherpad might have been nice to install and run ourselves, but the overhead of hosting these ser

[2016-04-16 00:19] zarvox commented on #1845
FWIW, you can, today, configure something like nginx to 302 redirect your custom domain/paths to the appropriate Sandstorm grain URIs or even a sharing link so that new users can gain access if you want something to be public-ish.  For instance, @mrdomino runs a radio station out of a Groovebasin grain at https://r.wholezero.org/ (which redirects to the mrdomino.sandcats.io sharing link).  He link

[2016-04-16 00:36] wrought commented on #1845
@zarvox thanks, that's interesting, but indeed my issue is *navigation* not *redirection* -- it would be better to enable our users to more easily navigate to and between a handful of grains (pun intended!)

[2016-04-16 00:57] wrought commented on #1852
@mitar @kentonv -- I'll point out the elephant in the room -- many people are accustomed to the sharing options available to google docs, something like:

- Who can view?
- Who can edit?
- Who controls sharing?

But really, it's just Unix, isn't it?

- read (and execute, sorta)?
- write?
- owner (who controls sharing)?

Mitar wants:

- Maybe anyone (or specific persons with the link) can read the

[2016-04-16 07:33] mitar commented on #1842
Hm, I hoped that this is Sandstorm's business model (long term). To offer to host such grains, me paying them, and they will make sure data is copied around redundant and that nobody can really just come and delete it (because of Sandstorm's focus on the security) without permissions. So the only missing piece is then that Sandstorm would not allow deletion based on permissions.

[2016-04-16 07:48] mitar commented on #1852
More that I think, I think each assigned permission should be in fact a tuple of two things (do I have permission, can I give it to others). Then, I could have users, which have permission, but cannot give it to others. Or users which even do not have a permission, but can give it to others (#1857 would be this in my case then, owner would have all permissions to give, but a limited ones to have t

[2016-04-16 07:59] mitar commented on #1857
That is not a problem, I just want to make owner have them, so that I disable them having a permission by default.

Yes, but that creator would still have full UI available, even if they would not be using it. Not nice.

[2016-04-16 14:18] kpreid commented on #1857
The creator would be another grain, not a person. It might have the _permission_ to edit the poll grain, but its _behavior_ would be to not do so.

Again, this always bottoms out in whichever humans administer the Sandstorm server; you can't not trust them, but this mechanism means that it's not _convenient_ for them to mess with things.

[2016-04-16 14:49] ruihildt opened #1861 "Error with copy/paste credentials from Google"
As I was configuring loggin with Google, I copied the credential ID / password from the Google interface by clicking on the button.

It didn"t work first because it added extra space before and after the credential ID / key.

I'm using firefox developer edition 47.

@dwrensha suggested it was similar to #1795.

[2016-04-16 19:53] ocdtrekkie commented on #1842
@mitar The problem is, "you paying for it". Because when you stop paying for it, it ends up deleted, presumably.

[2016-04-16 19:54] mitar commented on #1842
That one can be solved through [OpenCollective](https://opencollective.com/).

[2016-04-16 20:09] ocdtrekkie commented on #1842
"Anyone in your collective can submit expenses. The owner of the collective can approve those expenses with one tap."

Account has an owner, and it uses PayPal, I believe it said, where one person has ultimate legal control.

[2016-04-16 20:12] mitar commented on #1842
I think this is a reimbursement.

But in general, owner of grain on Sandstorm does not have to be the same as owner of OpenCollective account. So you need two people to collude.

But this is just an example. You can imagine a similar smart contract which is regularly paying to Sandstorm address and members are refilling it.

I am just saying that you can distribute payments maybe easier then distr

[2016-04-17 07:12] zarvox commented on #1861
Strictly speaking, the copy/paste weirdness is either a Firefox bug or a Google bug; not sure which.

That said, perhaps we should `.trim()` client IDs and secrets before saving them?  I imagine we would actually want that behavior for a majority of text inputs.

[2016-04-17 11:27] mitar opened #1863 "Inform the app when access to the app has been revoked for an user"
I do not see any way to get information that access for an user which was previously granted (for example, through a share link, and user opened it and logged in), has been revoked (share link revoked).

In my case this is important because when a user creates a vote, and invites people to vote, if they want to remove somebody from their permission to vote, and remove the user, then app should kno

[2016-04-17 16:16] kentonv commented on #1861
Yeah, it seems like Google is suffering from exactly the same Firefox bug we hit. But we can totally .trim() on our end in this case.

[2016-04-17 18:41] mitar commented on #1863
Probably one more case of #1629.

[2016-04-17 18:47] mitar commented on #1629
Hm, it might be that app misses such an event. It would be great if server-side could ask Sandstorm for current state if it feels it is behind.

Furthermore, I think it would be better if events would go to the server-side, not client-side. Client-side is still not trusted.

[2016-04-17 18:54] mitar commented on #1736
Hm, is this e-mail displayed anywhere? Because then you should make case insensitive, but case preserving.

BTW, Meteor had this issue in the past and they fixed in Meteor 1.2, I think, maybe you should use the same fix?

https://github.com/meteor/meteor/issues/550

[2016-04-17 19:01] mitar commented on #1044
I think this is related: #1830

[2016-04-17 19:01] mitar commented on #1044
Opening in a new window is so not mobile friendly. :-)

[2016-04-17 19:04] mitar commented on #1480
Should this be implemented on the UI level or on capabilities level? (That capabilities itself have encoded expiration time?)

[2016-04-18 08:45] synchrone commented on #1629
Currently the only way an app can "ask" about anything is via `window.parent.postMessage` and get a response via message listeners, checking the same "code" was returned.

Server-side communication is currently harder to handle. App devs need to use captn-proto bindings to their language, or engage in `exec()`ing custom-built binaries due to lack thereof.

This whole grain communication kind of ne

[2016-04-18 11:40] mitar commented on #1848
@kentonv: Hm, it seems there is no way really for grain to know what is the URL of the grain in Sandstorm tab? So there is no way to redirect back to Sandstorm?

For me this is a question of usability. Users might open a link by mistake in a new tab. It should get Sandstorm UI automatically.

[2016-04-18 15:35] kpreid commented on #1848
By _mistake_? How about users opening links on _purpose_ in a new tab? That not working in the straightforward way (Sandstorm UI always present) is a problem. Can we reopen this, please?

[2016-04-18 18:48] paulproteus opened #1864 "Switch official Sandstorm build process to be based on Debian jessie, not Debian unstable"
Rationale:
- There are lots of subtle issues that arise from our use of Debian unstable as the source of the files in the Sandstorm bundle.

Status:
- We'll aim to do this in the next few months. We'd like to do it sooner, but we also want to do it carefully, so it'll probably take a bit of @kentonv focus time to do it.

[2016-04-18 19:27] mitar opened #1865 "Sync app permissions wich list of permissions in the code"
Currently, I have [permissions defined in the code](https://github.com/mitar/council-app/blob/master/packages/core/documents/user.coffee#L87), but then I have to keep them in sync with [sandstorm-pkgdef.capnp](https://github.com/mitar/council-app/blob/master/sandstorm-pkgdef.capnp#L164). It would be great if when creating a Sandstorm package, Sandstorm builder could somehow dynamically get the lis

[2016-04-18 19:58] mitar opened #1866 "Default avatar is not passed to the app"
<img width="957" alt="screen shot 2016-04-18 at 12 56 39 pm" src="https://cloud.githubusercontent.com/assets/585279/14617951/287ebaba-0565-11e6-8a68-e89a67317534.png">

My test user does not have an avatar set. Sandstorm display the default Avatar and says this will be the picture to identify the user, but that avatar URL is not send to the app to be really used.

[2016-04-18 20:09] mitar commented on #1866
And I know that it is proposed that if picture is `null`, app should be using those same avatars, but I would claim that if Sandstorm shows some picture, that picture should be propagated to the app.

[2016-04-18 20:11] dwrensha commented on #1866
From https://docs.sandstorm.io/en/latest/developing/auth/ :

[2016-04-18 20:16] mitar commented on #1866
Yes, but this requires change to the app, just to be consistent with Sandstorm? Wouldn't it be better if Sandstorm would just provide that default avatar and this is it?

[2016-04-18 21:07] zarvox commented on #1865
If the app spoke the capnproto UiView protocol directly, rather than using `sandstorm-http-bridge` to bridge to a TCP socket, it could respond directly to `getViewInfo()` (which enumerates the grain's' supported permissions and roles) with something dynamically generated in the target language however it likes.  To do that with node, you'd need to add support for implementing a capnproto RPC serve

[2016-04-18 21:10] mitar commented on #1629
At least for Meteor apps: maybe Meteor app could just create a server-side DDP connection to some Sandstorm endpoint and get those events?

[2016-04-18 21:12] mitar commented on #1865
At least for Meteor apps: maybe Meteor app, that protocol could maybe be embedded into a DDP connection? Meteor could then connect to some Sandstorm endpoint with DDP? Or Sandstorm to the app, and call `getViewInfo` method or something?

[2016-04-18 21:14] mitar commented on #1865
Any pointer how you reference another file?

I do not yet have them, I was planing to just use internationalization library to do that. (So translation key is the computer string, which gets translated based on the language.)

[2016-04-18 21:32] zarvox commented on #1865
You can reference other files by importing them.  So if you generated some file `generated.capnp` with the contents:

[code]

you could reference that from `sandstorm-pkgdef.capnp` like so:

[code]

You could do the same with the permissions and roles, which you can import from `/sandstorm/grain.capnp`.  In particular you'll want to define a [constant](https://capnproto.org/language.html#constants

[2016-04-18 21:35] mitar commented on #1865
Oh, there are docs for the file format. Good. :-)

Thanks!

[2016-04-18 22:05] mitar commented on #1859
Oh, and handles should be unique in a case insensitive way, but case preserving.

[2016-04-18 23:25] mitar opened #1869 ""undefined" in share link for anonymous users"
See `undefined` in the share link:

![sandstorm_build_wiki_ _alpha sandstorm io_-_2016-04-18_16 24 17](https://cloud.githubusercontent.com/assets/585279/14622888/28bf5cce-0582-11e6-9381-041cdee7d247.png)

[2016-04-18 23:42] jwentwistle opened #1870 "Rocket chat is out of date"
I can't use the android application to connect to the sandstorm server. It says it the version needs to be updated.

[2016-04-18 23:49] zarvox commented on #1870
Rocket.Chat's mobile clients still don't work with Sandstorm; see https://github.com/RocketChat/Rocket.Chat/issues/1352

Duplicate of #1636; so I'm closing this one.

[2016-04-18 23:49] #1870 closed

[2016-04-18 23:56] dwrensha commented on #1869
Good catch. This specifically happens for grains that still use the old sharing model.

[2016-04-19 00:03] zarvox commented on #1869
I guess the right thing to do for old-sharing-model grains is to give the current route instead?  (Or migrate all known old-sharing-model grains to the new model.)

[2016-04-19 00:05] dwrensha commented on #1869
If you're logged in, you see "This grain uses the old sharing model. You can share it by copy/pasting the URL from the location bar", which is reasonable.

[2016-04-19 00:24] ocdtrekkie commented on #1869
Do we have a ballpark on what's actually left of the old sharing model grains? They predate Oasis, so AFAIK, it'd be entirely on Alpha and people's own self-hosted servers, right?

[2016-04-19 00:47] neynah commented on #1869
I also found "null" in the share link (while logged out): https://github.com/sandstorm-io/sandstorm/issues/1065#issuecomment-201542062

[2016-04-19 19:08] paulproteus opened #1874 "install.sh: Add support for Alpine Linux as install host"
`Lord` dropped by IRC and shared some wisdom:

- Link to modified install script for Alpine Linux: http://ix.io/x5X
- `< Lord> in fact i created the sandstorm user beforehand`
- `< Lord> because it failed too`
- To create the Sandstorm user ID: `< Lord> just "adduser sandstorm"`

Next steps:

- [ ] Integrate the small patch into install.sh
- [ ] Add an Alpine Linux test target for installer-tests

[2016-04-19 20:38] zimbatm commented on #245
I had a quick try but the Makefile doesn't follow the common patterns. It tries to download the dependencies with git and doesn't provide a fallback where libraries are provided by the system. Because Nix uses a sandbox it doesn't allow network access during build time. It also makes the build non-reproducible because each git remote can change at any time and the dependencies are not pinned.

I t

[2016-04-19 21:42] neynah commented on #1827
Perhaps our call to action to get a feature key should be emphasized over entering a feature key especially now that users(recent installs) would only see this view if they did the standard set up.

[2016-04-19 21:57] neynah commented on #1827
I lightly propose this hoping people have suggestions for improvements/better copy:
![for-work1](https://cloud.githubusercontent.com/assets/855341/14656860/d9662a28-063e-11e6-8452-cbce0beb8593.png)

Note: I changed "Request a feature key" -> "Get your feature key". I feel like "Get your feature key" is a more accurate description of what this button enables the user to do. I suspect it also better

[2016-04-19 22:12] paulproteus commented on #1386
Current plan:

- Right now, we assume fd 3 is Sandstorm's main HTTP(S) listener, and fd 4 and higher are secondary HTTP listeners.

- I propose we do the SMTP fd _before_ those, which would require re-numbering the use of fd 3 and fd 4.

As a side note about STARTTLS:

- Per `lib/server.js` within simplesmtp, it seems that it does support inbound STARTTLS.
- However, it doesn't seem to have a SNI-

[2016-04-19 23:52] NickBroza opened #1880 "Mailgun Setup"
Currently I am having problems setting up Mailgun with Sandstorm. I've tried using smtp://mailer%40xxxxxx.com:password@smtp.mailgun.org. I also set the relay port to 25 and the username to "mailer@xxxxxx.com", and also the password to "password". I didn't see much on setting up Mailgun in the documentation so this would be a huge help!

[2016-04-20 00:32] paulproteus opened #1881 "Rename "Developing" in docs to "Developer portal""
@jadeqwang and @neynah and I are interested in clarifying to website visitors that the Sandstorm developer docs are the best place to start when people want to find technical information about developing apps for Sandstorm. Given that, here are some next steps:

### Sandstorm repo

- Sandstorm GitHub README: Make it crisper; refer to developer portal

- Adjust /developing/ to have a few icons at t

[2016-04-20 00:49] zarvox commented on #1880
Hmmm, that's surprising.  I think other folks have previously reported success with Mailgun.

As noted (albeit briefly) in https://docs.sandstorm.io/en/latest/administering/email/, `MAIL_URL` in `sandstorm.conf` is deprecated and changes to `MAIL_URL` will not have any effect on how the server attempts to send mail, so make sure you're configuring things through the admin UI.

Do you see anything

[2016-04-20 01:04] NickBroza commented on #1880
When I attempt to send a test email to myself, it says
![error](https://cloud.githubusercontent.com/assets/4249043/14660288/16b13322-0672-11e6-890d-f8635fe701d2.JPG)

Log:
  at errnoException (dns.js:37:11)
    at Object.onanswer [as oncomplete] (dns.js:126:16)
Exception while invoking method 'testSend' Error: getaddrinfo ENOTFOUND
    at Object.Future.wait (/programs/server/node_modules/fibers/fu

[2016-04-20 01:55] zarvox commented on #1880
Ahhh, the Sandstorm instance is unable to resolve the hostname (which you mentioned above is `smtp.mailgun.org`) into an IP address to make an outgoing connection.

Do you have working DNS on your server?  Try `ping smtp.mailgun.org` or `host smtp.mailgun.org` from your server.  The output looks like this for me:

[code]

Make sure your firewall config allows outgoing UDP and TCP traffic with dest

[2016-04-20 02:16] NickBroza commented on #1880
When I ping smtp.mailgun.org, I get essentially the same thing as your output. I let port 53/related ports through my firewall (both UDP and TCP). I also tried forwarding the ports with no avail. Also, my ISP is not blocking any of the ports. Thanks for your help!

[2016-04-20 02:23] elimisteve commented on #1848
@mitar Why do you need the full URL? Can't use relative URLs and just specify the path, (e.g., `/app/users/whatever`)?

[2016-04-20 02:27] mitar commented on #1848
Because sandstrom sessions run in their own origin. You have to know how to redirect back to Sandstorm with full URL.

[2016-04-20 04:07] ndarilek opened #1883 "capnp/rpc.c++:122: info: returning failure over rpc; exception = kj/async-io.c++:120: failed: expected result >= minBytes; Premature EOF"
Getting this message when attempting to send my login authentication email:

[code]

I suspect this outbound provider is blocking SMTP, but am not certain. Either way, a more helpful error here would be useful.

Thanks!

[2016-04-20 21:30] neynah commented on #1823
@kentonv That seems better. I updated the mock-up above to reflect your suggestions.

@zarvox Active capabilities have a "Revoked" button; perhaps revoked capabilities will just be labeled as "Revoked". Can the admin take any action(s) on revoked capabilities in this first version?

[2016-04-20 21:58] #1829 closed

[2016-04-20 22:37] #1821 closed

[2016-04-20 22:41] #1065 closed

[2016-04-21 02:15] elimisteve commented on #1713
I like the UI of @azirbel's designs but have a concern about UX: as a laptop/non-huge-screen user a fair amount of the time, the idea of having to scroll down all the time to access menu items that are below the bottom left of the screen instead of very conveniently available on the top bar sounds potentially painful, but I don't know if the left panel would be so tall as to cause this issue.

[2016-04-21 03:20] ocdtrekkie opened #1884 "Bad error message for invalid appdemo URLs."
I clicked on one in IRC that I think Asheesh made up. Rather than offering the ability to "Try missing package", a better error message should be here.

![image](https://cloud.githubusercontent.com/assets/4399499/14697031/0a7ceba8-0746-11e6-999c-9d99caa24fcd.png)

[2016-04-21 03:23] paulproteus commented on #1884
When I wrote it, I didn't really think anyone would hit that code.

Thinking about that now, I want to add: "Famous last words."

[2016-04-21 03:44] mitar opened #1885 "Title text seems to be ignored in dev mode"
The [action text](https://github.com/mitar/council-app/blob/master/sandstorm-pkgdef.capnp#L30) is not displayed in the dev mode for my Meteor app.

![screen shot 2016-04-20 at 8 42 33 pm](https://cloud.githubusercontent.com/assets/585279/14697428/a6893a28-0738-11e6-93b6-c6ac66c1d984.png)

Shouldn't it say "New Council App" there?

[2016-04-21 03:48] paulproteus commented on #1885
Hi Mitar! This is almost definitely a bug. Code-wise, we treat
apps-in-development different from apps that are fully-installed, and so
this is probably related to that different ​treatment. Thank you for
reporting it!

[2016-04-21 05:46] zarvox commented on #1885
Argh, this one's probably my fault.  The boilerplate generated by `spk init` is wrong.  You should provide a `nounPhrase` rather than a `title`: https://github.com/sandstorm-io/sandstorm/blob/master/src/sandstorm/package.capnp#L146..L152

[2016-04-21 05:47] zarvox commented on #1885
Specifically, try changing "title" to "nounPhrase" at https://github.com/mitar/council-app/blob/master/sandstorm-pkgdef.capnp#L30

[2016-04-21 05:56] mitar commented on #1885
Should it be lower case?

[2016-04-21 06:18] mitar commented on #1885
OK, this fixed it. Should this ticket be closed?

[2016-04-21 06:30] kentonv commented on #1885
Issue should stay open -- it's still a bug that `title` is being ignored in dev mode.

[2016-04-21 06:30] mitar opened #1886 "Not enough space for roles"
Maybe I am doing [something wrong](https://github.com/mitar/council-app/blob/master/sandstorm-pkgdef.capnp#L291), but what is the purpose of `title`, if then only `verbPhrase` is used? Because now there is too little space to display the whole verb.

![screen shot 2016-04-20 at 11 20 48 pm](https://cloud.githubusercontent.com/assets/585279/14699808/d72b9bf0-074f-11e6-95fc-77b84a0231c6.png)

Moreov

[2016-04-21 06:31] mitar commented on #1885
`title` has been obsoleted, it seems.

Maybe the ticket should stay open for template to be updated?

[2016-04-21 06:36] kentonv commented on #1886
`verbPhrase` is meant to be something short like "can edit" or "can comment", not a full description what the role means. Arguably we should add support for a longer-form description for cases where there isn't a simple word to use.

`title` currently is not used but the idea is that it might be in other interfaces eventually.

[2016-04-21 07:07] kentonv commented on #1855
@mitar I'm not proposing reloading the page. I'm proposing restarting the backend session, which is a specific thing in Sandstorm infrastructure. The effect from your point of view is that the WebSocket will be reset. Meteor will automatically reconnect, but when it does, accounts-sandstorm will notice the changed user info. This is all invisible to the user.

[2016-04-21 07:11] mitar commented on #1855
Ah, so it is more like instance restart or migration to of the user to a new instance. This sounds cool.

[2016-04-21 07:21] kentonv commented on #1852
Please be sure to read:

https://sandstorm.io/news/2015-05-05-delegation-is-the-cornerstone-of-civilization

Make sure to read the whole thing, because at the end we discuss the "please don't reshare" policy.

@wrought The model you are describing is the ACL model, whereas Sandstorm uses a capability model. ACL models often have the concept of "permission to edit the ACL", but this approach common

[2016-04-21 07:26] kentonv commented on #1857
Sorry but the owner can do absolutely anything they want with the grain. They can reach in and flip bits on storage if they want. There's just no feasible way in our model to enforce that the owner can't do certain things that other people on the grain can.

You can, of course, design your app to display a UI to the owner that is more-restricted than the UI given to other people. The owner could s

[2016-04-21 07:26] #1857 closed

[2016-04-21 07:46] mitar commented on #1857
But how can I know just from the list of permissions that somebody is an owner? You do not expose that fact.

[2016-04-21 07:52] mitar commented on #1857
Also, it would be great if that fact that the app expects owner to not do anything except manages users (of course they can, but there is big difference between what is social contract and what is enforced, I tend to believe most people do adhere to a social contract - they just have to be informed what it is - for example, by UI not showing them stuff to do) be also conveyed in Sandstorm UI.

If

[2016-04-21 08:35] kentonv commented on #1866
The identicon is generated client-side using identicon.js. There is nothing for the server to pass.

[2016-04-21 08:50] kentonv commented on #1859
Please see: https://groups.google.com/d/msg/sandstorm-dev/E8QwzgAQDY0/8MsVFN-oAQAJ

Apps usually want to assign unique handles in order to implement things like @-mentions where users want to tag each other. This will never work well in Sandstorm because of grains -- you will often want to tag users who have never visited the grain before, and so clearly the app cannot handle this, so to speak.

I

[2016-04-21 08:50] mitar commented on #1866
I know, but just to make it easier for apps, it could generate it on the server and passed it.

I made necessary changes and now package can run on the server as well: https://github.com/stewartlord/identicon.js

I am generating it myself now in the app, but it would be really better if it would be done by the Sandstorm: https://github.com/mitar/council-app/blob/master/packages/core/documents/user

[2016-04-21 09:20] kentonv commented on #1883
I'm confused, where are you seeing this error? Logging into Sandstorm via e-mail does not invoke any Cap'n Proto RPCs, so I don't understand how this kind of error could come up in that context.

[2016-04-21 09:54] kentonv commented on #1857
Define a permission that is not part of any role. Only the owner will have it.

Mitar, you have a lot of really great suggestions and I appreciate the feedback you've been giving us. But there are a few things you are asking for that just don't fit with our model or our plans, or the potential benefit is just too small to warrant working on the idea vs. other things we could be doing. I know you f

[2016-04-21 10:02] kentonv commented on #1866
Unfortunately identicon.js produces PNGs that seem to be essentially uncompressed, probably because it doesn't use a real PNG library but rather a hack meant for use in client-side data URLs / blobs. If you can fix that too, then maybe we're getting somewhere.

[2016-04-21 11:15] mitar commented on #1866
Done: https://github.com/mitar/council-app/commit/c76748268af4b20e63262c4cd42c125d3b25ec78

[2016-04-21 11:43] mitar commented on #1852
Yes, I like delegations as well. In fact my voting app is modeled around delegations for collaboration as well (see [these](http://mitar.tnode.com/post/73930434538/massive-online-collaborative-decision-making) [blog](http://mitar.tnode.com/post/73933896602/towards-a-better-group-decision-making) [posts](http://mitar.tnode.com/post/73983101095/peer-to-peer-voting-scheme), feel free to read them).

[2016-04-21 12:12] mitar commented on #1852
Hm, maybe the issue is that my Meteor app sees only permissions, and not capabilities. If I could see directly capability tokens, and they would be unique, I could follow which of users have the same capability token and would be able to know in the app who and how people shared it. (Similar to what you are writing about auditing in your blog post.)

So maybe the point is, that there are two types

[2016-04-21 13:54] ndarilek commented on #1883
It may not be related. I spun up a new server on a VPS which it turned
out didn't initially support outbound SMTP. Then, for some reason, my
Firefox session on my phone was no longer valid (though my laptop
session still worked.) I went to log in via email on the phone, got
about a minute of no activity, then a 500 internal server error. When I
got home I checked the logs and saw 2-3 of the above

[2016-04-21 18:21] kentonv commented on #1883
Hmm, yeah, I'm pretty certain the error you quoted wasn't related to email login. That error more commonly means "grain crashed", or generally "some Cap'n Proto stream got disconnected".

It's entirely possible that we are not doing a good job of handling the case where port 25 is a black hole, though.

[2016-04-21 19:03] neynah commented on #1822
Perhaps we can have a single row that displays the current status (in this case "Admin") and then have
"Make User" etc. as buttons in that row. I would still like for there to be an indication of what permissions each user has but perhaps that can be displayed in the same column as each button. Maybe you have other suggestions. :)

[2016-04-21 19:25] zarvox commented on #1822
I find the "Role" section a bit unclear.  I think I'd find it clearer if the role enumeration/explanation was separate from which-role-is-this-user and buttons-to-make-user-a-different thing.

It's also possible that we want to hide the "Visitor" section entirely under certain server settings.  Oasis, for instance, has no concept of visitors, due to having the `allowUninvited` setting set.

Today,

[2016-04-21 20:01] neynah commented on #1884
@ocdtrekkie What happened after you clicked on "Try missing package"?

[2016-04-21 20:03] ndarilek commented on #1883
OK, you're right, this has nothing to do with email-sending. I get this when attempting to connect to grains:

[code]

A quick glance at permissions looks OK. Thoughts on what might cause this after a server migration? I did an install, wiped out /opt/sandstorm and did a rsync -a of the old /opt/sandstorm. Seeing lots of directories 0770 and owned by root.sandstorm which seems sane.

[2016-04-21 20:03] ocdtrekkie commented on #1884
Nothing, I think.

[2016-04-21 20:19] zarvox commented on #1883
Does the grain's debug log (Show Debug Log button) indicate anything going awry with that grain?  If the grain's `sandstorm-http-bridge` is crashing, or the launcher script is exiting, the grain log might explain more.

[2016-04-21 20:22] ndarilek commented on #1883
That was the grain log. :( Unfortunately nothing is appearing in
sandstorm.log in response to this, but none of my grains are working
anymore.

Fortunately I still have the old server around, but I'd like to see if
this one can be gotten to work.

[2016-04-21 20:27] zarvox commented on #1883
Oh, hmm.  That sounds like the supervisor is closing the socket.

If you don't mind spelunking, `/opt/sandstorm/var/sandstorm/grains/$SOME-GRAIN-ID/log` might have what I'm looking for.

This is surprising behavior.  Do your old and new server have the same uid/gid for the sandstorm user/group?

[2016-04-21 20:33] ndarilek commented on #1883
Here we go:

[code]

Scaleway does some interesting stuff with their infrastructure and I'm
not sure if I like it yet. I have to run soon, but on the off chance
that this has to do with their kernels/infrastructure, I created a
vanilla server at crashtest.sandcats.io and can give out root access on
that. Haven't tested whether the problem occurs there because I haven't
set up auth, I guess I can j

[2016-04-21 20:34] zarvox commented on #1883
Oh. Switch your Scaleway kernel to the Docker one.

See https://github.com/sandstorm-io/sandstorm/issues/1759 for more history.

[2016-04-21 20:39] ndarilek commented on #1883
OK, yes, Scaleway appears to be broken. Just enabled dev accounts on
crashtest, installed wekan as bob and got errors right out of the box.
Similar to those already reported:

[code]

Interestingly, this isn't the 500 internal server error I got when
launching an existing Wekan grain.

[2016-04-21 20:39] zarvox commented on #1883
See also https://github.com/scaleway/kernel-tools/issues/250 - in short, Scaleway's vanilla kernels were missing CONFIG_SECCOMP, which Sandstorm requires for sandboxing.  Scaleway claims to have recently updated their kernels around the time you filed this bug, so it's possible that you just barely missed getting the fixed vanilla kernel.

[2016-04-21 20:49] ndarilek commented on #1883
Got it. Thanks. Restarting with the 4.5.1 non-Docker kernel to see if
that works, and if so will report back. If not, I'll switch to the
Docker kernel.

[2016-04-21 21:16] ndarilek commented on #1883
Still seeing similar behavior under 4.5.1 both vanilla and Docker kernels. Similar, in that now I just get internal server errors with nothing in logs, grain or sandstorm.log.

Interestingly, when I look at the grain log, it appears that the grain should be started (I get the "Starting" message) but I don't see anything else.

[2016-04-21 21:25] neynah commented on #1822
@zarvox Alright, I revised the mock-up above to display the details below the role actions. I do think this is cleaner & also more clear.

Are there cases where we'll have the disabled "Make Visitor" button? If so, what are your thoughts on providing additional information as to why that action is disabled?

I can adjust the design to include demo identities in the case that we'll be able to displ

[2016-04-21 21:28] #1881 closed

[2016-04-21 21:36] zombiezen opened #1888 "Feature Request: Allow avatar to be refreshed from account settings"
I recently changed my profile photo on my Google Account that I use to sign into Sandstorm.  I'd like to be able to refresh the avatar in Sandstorm as well without having to upload the original file from my machine.

[2016-04-21 21:39] paulproteus commented on #515
Other tasks:

- [ ] Move PHP example app to sandstorm-io ownership
- [ ] Move Python example app to sandstorm-io ownership
- [ ] Create a page within the vagrant-spk stacks page that lists example apps in various languages
- [ ] Declare that the Meteor TODOs app is an example app, or alternatively re-do the Sandstorm Meteor packaging tutorial
- [ ] Mention the example apps in the main Sandstorm pa

[2016-04-21 22:25] zarvox commented on #1883
I'm not sure what's falling apart now.  :(

After you try to open the grain, do you see the `sandstorm-http-bridge` process in the output of

[code]

from the server's shell?

If so, the next thing to check is probably if your wildcard DNS is working and pointing at the right place.  I'm kinda surprised that you get an internal server error, but nothing in your logs.  Is there anything helpful in

[2016-04-21 22:30] kentonv commented on #1087
I'd like to propose a solution that hopefully satisfies all parties:

* If the petname and original title are the same, we just display it.
* If the sharing recipient has explicitly modified their petname, we show their petname as the title, with subtext of "renamed from: [upstream title]". This allows the user to assign their own title if they need to disambiguate the grain, though most of the ti

[2016-04-21 22:39] kentonv opened #1889 "Implement Notifications"
Keeping track of activity in Sandstorm seems to be a pain point. We need a way for grains to notify users of:

* **Activity:** Something in this grain has changed, you might want to review it.
* **Attention requests:** Something in this app requests your specific attention (e.g. someone tagged you).

I think it would make sense to implement something in Sandstorm that roughly emulates Rocket.Chat'

[2016-04-21 22:40] johnjelinek opened #1890 "Sandstorm for Work: Google Apps Integration Fails"
I have my instance connected to Google Apps. After I login, I get redirected to the login page while on desktop. On my android phone, I get redirected to seeing my apps/grains as expected. I have restarted the service in systemd and rebooted the server. Same results. How should I troubleshoot this issue?

[2016-04-21 22:41] johnjelinek commented on #1890
Nevermind, it started working again ❓

[2016-04-21 22:41] #1890 closed

[2016-04-21 22:54] zarvox commented on #1087
A couple questions:

* when we say "upstream name", is that a global bit of information (the grain owner's name), or is it the person-who-shared-with-you's petname for the grain?
  * If the former, then it's basically "only the owner can rename the grain for everyone", so a resharer might rename their copy, but no one else will see their change.  On the upside, they'll see the "renamed from" `<glo

[2016-04-21 22:59] kentonv commented on #1087
@zarvox

* The "upstream name" would be the owner's title, as stored on the Grains table.
* In the "Was:" case, the recipient has not set any title of their own. The "Was:" is identifying the owner's previous title. I don't think it makes sense to promote the owner's original title over the owner's new title; that seems like the opposite of what @wtogami wants. I think you are thinking of the seco

[2016-04-21 23:06] ocdtrekkie commented on #1889
This is one of my long-time wish list items! :D

[2016-04-21 23:46] zarvox commented on #1087
As discussed in person: okay, that seems reasonable, so long as search searches over both names. :)

One last thought: if the user renames the grain to a title which matches the owner's title, then maybe treat that as an expressed intent to remove their petname and rely on the upstream title.  Basically, set the boolean `isUpstreamName` back to true, where any other petname change would set the va

[2016-04-21 23:57] paulproteus commented on #1087
Thanks for taking the time to dig into these questions. I have some further questions (not to be mistaken for qualms).

- When @jacksingleton and I discussed this a few months ago, we noticed that in Google Docs, when the user sets the form title within the app (rather by editing the document title in the Google Docs UI), the form app changes the document's name accordingly. Detailed proposal here

[2016-04-22 00:17] kentonv commented on #1475
On second thought, I think that this proposal is problematic security-wise. You propose that the API only affects the current user's petname for the app. However, I think this is not what anyone would really want with such an API. I think the app and users would probably expect that it is modifying the title globally / modifying the owner's title -- I can't see any reasonable argument that an _in-

[2016-04-22 00:25] kentonv commented on #1087
@paulproteus

* Actually, reviewing #1475, I think that proposal is problematic in itself. I have commented there. That said, I think that proposal is overall orthogonal to this one.

* Bob's rename _after_ sharing with Charlie would not affect Charlie's title. Charlie's initial petname is copied from Bob's, but from then on Charlie is treated no differently than if he had received the share direc

[2016-04-22 00:26] zarvox commented on #1822
The top section feels better, thanks. :)  I may make slight adjustments to the copy explaining the roles, since today admins can't strictly speaking view all grains, but I'll take that on.

Some things that I intend to change in the user details page (but maybe don't need a mockup iteration for):

* Make the "User Accounts" breadcrumb in the header be a link back to the user accounts list page.
*

[2016-04-22 00:38] ocdtrekkie commented on #1087
After somewhat following this issue, I am now confused by petnames.

[2016-04-22 04:33] kpreid commented on #1087
Thank you for paying attention to this case.

[2016-04-22 04:38] ndarilek commented on #1883
I do see the bridge process. Here is my console log from the browser,
from when I click on a Wekan grain:

[code]

I set up another test server and it worked fine, so something must be
broken in this migration. I literally copied the configs over
unmodified, and AFAIK permissions and the sandstorm UID are the same.

I'd be happy to give root to someone (within reason) if that'd help,
just send alo

[2016-04-22 05:23] mitar commented on #1087
What about simply allowing user to expand a list of titles the grain had? So by default latest is displayed, but you can see (and search) older names as well?

[2016-04-22 08:33] mitar commented on #1859
Thank you for pointer to the mailing list.

I think the idea for inline powerbox is an useful addition and would be great to have, but it is slightly orthogonal to the problem. So yes, ideally all apps would use such types of non-unique handles, but there is a benefit also for providing a more traditional unique handles to the apps so that they can use if they are unable to port (are just a thin w

[2016-04-22 08:36] mitar commented on #1859
BTW, you might want to consider the timeline when this inline powerbox will be available. If it will not be soon, then maybe invest time into unique handles per grain from Sandstorm. It would make it easier for apps to adopt Sandstorm during this time.

[2016-04-22 08:43] mitar commented on #1857
Yes, this is what I wrote as a workaround in the first post of this ticket:

Not really perfect.

I think I found a better model which could be more aligned with your capabilities models in [this comment](https://github.com/sandstorm-io/sandstorm/issues/1852#issuecomment-212886748). If app could know how capabilities are shared between users, and if owner capabilities (genesis capabilities) would

[2016-04-22 09:14] mitar commented on #1848
Hm, it seems I can get full URL from `window.parent.location`. So I should just associate this from the client for a particular iframe origin. And then a page is opened with `window.parent` for the same iframe origin, I redirect to `window.parent.location`.

But it would be much better if there would be a HTTP header for this send to the app.

[2016-04-22 13:20] ndarilek commented on #1883
OK, new development. I was just able to push to a Gitlab repo. Still can't load said repo's web interface, but the push working would seem to rule out wildcard DNS configuration issues.

[2016-04-22 15:53] paulproteus commented on #1848
Hi Mitar.

I generally like your idea. One other thought is that Sandstorm could
expose a URL within the grain like

.well-known/sandstorm/grain-redirect

and then:

if (! window.parent) {
   winddow.location = "/.well-known/sandstorm/grain-redirect";
}
 you could do a redirect to that, and then Sandstorm would do the redirect
to the grain URL.

One difficulty is that I don't know how to handle sh

[2016-04-22 17:49] mitar commented on #1848
BTW, redirect should be done to the path of an grain as well, not just to the top URL of the grain.

[2016-04-22 18:22] zarvox commented on #1848
@mitar I don't think you can actually get the full URL from `window.parent.location` - are you running that in the context of the grain iframe?  It should be sandboxed.

I believe @kentonv had defensible privacy/anti-worm reasons for not wanting grains to be able to obtain references to themselves without explicit user interaction.  I'm not sure if the `.well-known/sandstorm/grain-redirect` propos

[2016-04-22 20:02] paulproteus commented on #1883
Can you reproduce this on a new install of Sandstorm, on a newly-created
Scaleway VM  their Docker kernel? If so, maybe I can try manually testing
things on Monday or so. Sorry about the problems.
​

[2016-04-22 20:53] mitar commented on #1848
I tried on Oasis in Firefox in one grain through web console, switched to iframe context and wrote `window.parent.location` and it prints it out. But you are right. I can access the object, but I cannot really do anything with it. So the console can print it. But if I do `"" + window.parent.location` to convert it to string, it fails.

[2016-04-22 20:59] mitar commented on #1848
Can then this ticket be reopened and let's do this redirect? That would be great to have. In some way it would be inverse of [my code here](https://github.com/mitar/council-app/blob/master/packages/council/flow-router/sandstorm.coffee). Instead of posting to parent the current location, the app would redirect to `/.well-known/sandstorm/grain-redirect/<path>` with current `path`.

[2016-04-22 21:15] kentonv commented on #1848
This proposal still seems problematic to me. The popup window will load a whole new copy of Sandstorm with tabs and everything -- is that really what you want?

Maybe what we should really have here is a new postMessage API for "Please open a copy of this grain in a popup window"? That way the popup can share a Javascript context and can perhaps be rendered in a lightweight version of the shell.

[2016-04-22 21:18] mitar commented on #1848
I was not thinking about popups. I am thinking about a simple grain like: https://alpha.sandstorm.io/grain/kB7bofATTL2jGuKSFwmqdA/GithubPRCommands

Click with command-click or whatever you have in your browser to open a link in a tab, on any link in the sidebar of MediaWiki. It opens the page in new tab. Now, that tab is not in Sandstorm anymore. It should be. The question is how to get it to be i

[2016-04-22 21:25] kentonv commented on #1848
OK, I changed the bug title to reflect this.

You could argue that ctrl+click on an intra-grain link should open a sidebar tab, although we currently expect to have only one sidebar tab for each grain.

This question might also relate to a separate feature request (not sure if there's an open issue): Being able to "pop out" a grain into a separate window.

[2016-04-22 21:28] kentonv commented on #1890
Hi @johnjelinek,

One possibility is that on desktop you were logged into a gmail account rather than your Google Apps domain account, and you have your Sandstorm server configured to disallow outside-of-organization accounts. Currently if you try to login through Google using an outside-domain account then it'll just drop you back to the Sandstorm login page with no explanation, which is a bug. I

[2016-04-22 21:29] mitar commented on #1848
This interferes with my browsing habits and my use of my browser UI, screen-estate and so on. On the mobile phone I would want a link to open in a new background window, not in a in-window sidebar.

But it is one option. The best would be if we could support native browsing somehow.

[2016-04-22 21:43] johnjelinek commented on #1890
Nope, I was only logged into my Google apps account.
On Apr 22, 2016 4:29 PM, "Kenton Varda" <notifications@github.com> wrote:

[2016-04-23 00:52] #1087 closed

[2016-04-23 02:25] kpreid commented on #1848
It is, in my opinion, very important that Sandstorm not harm the things that make web apps _web_ apps rather than just apps. If open-in-new-tab is either nonstandard (Sandstorm sidebar) or deficient (missing UI) then this is bad.

[2016-04-23 03:16] ndarilek commented on #1883
(Un)fortunately not, this seems to happen only on the production server
which I migrated, I think, as per instructions on how to do so. All I
can think to do is offer root access to you or someone else I trust on
the affected server. It's only running Sandstorm and I still have the
data elsewhere, so I'm not worried about anything on the server getting
lost or destroyed.

I do have one more though

[2016-04-23 03:51] ndarilek commented on #1883
Good news! Re-rsyncing the data seems to have gotten everything fixed.
Not sure what happened the first time.

If there's any interest in doing some sort of forensic dive into what
got copied wrong in an attempt to output a more useful error, like maybe
the database got corrupt or I somehow forgot to rm the throwaway
Sandstorm install I did just to get things going, then I still have the
broken in

[2016-04-23 03:52] #1883 closed

[2016-04-23 22:13] zombiezen opened #1897 "Feature Request: Whitelist Mercurial HTTP headers"
I would like to package Mercurial as a Sandstorm app.  The Mercurial wire protocol sends most of its data using HTTP headers.  They follow the pattern `X-HgArg-N`, where `N` is an integer greater than zero.  Each header payload will be ~1KB by default, so you can pick an upper bound on how high you want N to be.

(I tried hacking around this by disabling this mode of operation, but it blows out th

[2016-04-23 22:18] zombiezen opened #1898 "Seeing the websocket proxy warning in Admin Settings"
This is probably my fault, since I'm running a custom server that does Websocket proxying, so I'd like to know what I messed up.  Apps seem to be running fine for me, even ones that need websockets.  What exactly does this check do?  I checked the Sandstorm server log and couldn't find anything useful.

[2016-04-23 23:54] kentonv opened #1899 "Intro.js overlay has been broken since at least 0.159"
It's invisible, but the user still has to click once to dismiss it -- seems like a CSS problem. Seems broken on Oasis. 0.159 was the Meteor 1.3 update which I know involved some changes to the way the CSS is included.

[2016-04-24 00:02] kentonv commented on #1899
Problem is that in the blackrock build, the CSS symlink does NOT point into the directory where the build is happening, but rather into the Sandstorm directory's copy of node_modules. If the Sandstorm directory happens to be clean, then the symlink is broken. Ugh.

[2016-04-24 02:44] #1899 closed

[2016-04-24 06:18] paulproteus commented on #1899
That is too bad. Thanks for catching that and fixing it.

[2016-04-24 06:55] kentonv commented on #1899
I mostly blame myself, but I partly blame Meteor for being like "Broken symlink? Meh, I'm sure it wasn't important. Carry on."

[2016-04-24 07:13] paulproteus commented on #1898
Wow, fascinating.​

https://github.com/sandstorm-io/sandstorm/blob/94586c2e13202b96dab7aa54ebd9b56e96f04e44/shell/client/admin-client.js#L141
is the code. It's pretty simplistic. What's the value of

"Meteor.connection._stream.socket.protocol"

for you? For me, on rose.sandcats.io, it is:

"websocket"

which is consistent with this self-test.

[2016-04-24 07:18] paulproteus commented on #1475
Thanks for those thoughts, Kenton. I agree​ with your analysis. Given that,
I marginally prefer option 2, but will think about it more in the future.

[2016-04-24 08:53] zenhack commented on #220
Is there any work on this actually happening? With the fingerprint-as-identity solution, I'm envisioning part of a sign-in page that looks something like:

[2016-04-24 10:43] Deathsbman opened #1901 "404 Error when installing"
I'm using a fresh install of Ubuntu with Gnome on the HP Proliant ML110 G6 with a Xeon X3450 and 8gb of ram. I ran the HTTPS-verified install, however when I opened my sandcats.io link I received Access Error: 404 -- Not Found instead of the setup page. Any ideas as to how I could fix this?

[2016-04-24 15:19] zombiezen commented on #1898
`xhr-polling`. :confused:

I'm digging into the SockJS source... Chrome dev tools indicates that the Sandstorm shell does open a websocket briefly, sends no data, then falls back to XHR.

[2016-04-24 15:21] paulproteus commented on #1898
Thanks for digging into this! I am curious what you discover the issue is.

[2016-04-24 15:24] paulproteus commented on #1901
Hi there,​

Can you provide a screenshot of the 404? I wonder if you need to enable
port forwarding on your router.

Here is a list of common problems & things to think about, in case that
helps:
https://oasis.sandstorm.io/shared/4vrj4sIOFYy1iJfYKkvkqJGUTvBXLhb6CLODn-HQ2UF

If you are still having problems, then by all means please respond here!
The link is intended to help you succeed faster, but

[2016-04-24 16:04] zombiezen commented on #1898
Aha. Found error logs on my frontend proxy that uses Gorilla Websockets (a Go package).  This isn't a Sandstorm issue, sorry for the noise.

[2016-04-24 17:15] meitar commented on #1150
I am also interested in this. I have been developing [a WordPress plugin](//betterangels.github.io/buoy/) that is time-sensitive. WP-Cron isn't reliable on a low-traffic website, so my plugin programmatically tries to install a cron job to execute `wp-cron.php` every five minutes. That ensures my plugin doesn't miss an important event by more than 5 minutes.

Unfortunately, this doesn't work on Sa

[2016-04-24 18:52] meitar opened #1902 "Outgoing email from a WordPress grain on Sandstorm Oasis never gets sent?"
**TL;DR:** Does the Sandstorm-packaged WordPress app have the capability to send outgoing email on Oasis?

Hi! First, Sandstorm seems very promising and I'm really grateful to the devs for making such a user-focused architecture feasible. I work closely with many small community groups for which I think Sandstorm might be an incredible tool and I really want to see it work for them.

My issue, or

[2016-04-24 18:56] meitar commented on #1902
Ah, I just found the WordPress-as-a-Sandstorm-app repo. Feel free to close this issue if that tracker is the appropriate place for this issue. Either way, thanks.

[2016-04-24 19:19] zombiezen commented on #1898
Hm. Actually, has anything changed in Sandstorm/Meteor wrt to Websockets recently?  The issue that I'm seeing is that reserved bits are getting set while reading frames from the Sandstorm server.  I know this used to work.

[2016-04-24 19:27] zombiezen commented on #1898
Ah found it. This is the unimplemented `permessage-deflate` extension in gorilla/websocket#3. I can kludge around it locally.

[2016-04-24 19:27] #1898 closed

[2016-04-24 22:11] paulproteus commented on #1898
Honestly, that was fascinating. Thanks!

[2016-04-25 15:16] dwrensha opened #1903 "old unopened "shared with me" grains now appear at the bottom of the grains list"
The `extractLastUsedFromApiTokenOwner()` migration defined in https://github.com/sandstorm-io/sandstorm/pull/1875 writes `null` to the `lastUsed` field if the token did not previously have a `lastUsed` field.  This ought to not be a problem, but apparently it means that old unopened "shared with me" grains now appear at the bottom of the grain list. Newly received shares still appear at the top.

[2016-04-25 18:14] paulproteus commented on #378
Thanks for asking this, @mattl ! I'm going to close this for now, since I believe @dwrensha answered the question in a comment. If not, then please re-open it so we don't lose track.

[2016-04-25 18:14] #378 closed

[2016-04-25 18:31] dwrensha commented on #1515
Note that the shared-to identity might be linked to more than one account. In that case, there may be no clear "winner" email to send to, so I think it would fall back to the current behavior.

[2016-04-25 20:06] dwrensha commented on #1902
Further discussion: https://github.com/dwrensha/wordpress-sandstorm/issues/12

[2016-04-25 20:06] #1902 closed

[2016-04-25 20:10] kentonv opened #1906 "Disable e-mail sharing for demo users and rate-limit for everyone else"
It looks like someone has discovered that they can send spam messages through the Sandstorm sharing dialog. :(

We should:
* Disallow demo users from sending sharing e-mail. They'll need to share by link only.
* Rate-limit sharing emails sent by real users, probably using the same mechanism as we use to rate-limit email from apps.

This is somewhat of an emergency as the longer this spammer contin

[2016-04-25 20:19] tomberek commented on #245
I've found this to be a common problem with integrating some build systems
with Nix. It becomes some work to go about pinning all the dependencies
into Nix. Sometimes I end up simply creating an impure Nix expression to
build the package for me.

On Tue, Apr 19, 2016 at 4:39 PM, zimbatm <notifications@github.com> wrote:

[2016-04-25 21:00] ocdtrekkie commented on #1906
I at least slightly respect this spammer for the fairly creative method of spamming via the share dialog on a not-even-1.0-yet platform.

[2016-04-25 22:56] #1906 closed

[2016-04-26 00:41] paulproteus opened #1908 "install.sh: Use port 25, if available, for inbound SMTP"
Note: Only do this after https://github.com/sandstorm-io/sandstorm/pull/1877 is released.

[2016-04-26 00:41] paulproteus commented on #1908
Also update the docs accordingly.

[2016-04-26 12:40] jbigte commented on #1306
Install script fails with same chown error on Suse Linux Enterprise Server SLES 12.

Not wanting to change the USERGROUPS_ENAB default setting, I created the sandstorm group and assigned the sandstorm user (already created, as noted, by the install script before it fails) using Yast.

The install script then succeeds.

+1 for fixing this in the next round of installer fixes...

[2016-04-26 14:17] kpreid opened #1910 "Mobile: "click here to create a grain" was unhelpful"
Using Chrome for Android. I installed an app. When I did so, there was a popup guide thing saying "You can click here to create a new grain", on a page for the app. However, it was in the middle of the screen right on top of what it was pointing at, so it looked more like an unhelpfully-worded dialog box than a useful tip.

[2016-04-26 14:23] kpreid opened #1911 "Cannot backup grains on mobile"
I wanted to move a grain from Alpha to my personal Sandstorm server. I attempted to do so by taking a backup (in order to re-upload it elsewhere). I was using Chrome on Android.

The grain backup download appeared to start, but failed with the system message “\_\_\_.zip download failed due to an unknown error.”

This also happens if I try to download from my personal server.

[2016-04-27 01:32] zombiezen opened #1912 "Clarify docs around Action.title"
package.capnp docs say that Action.title is obsolete in favor of Action.nounPhrase. However, `spk init` doesn't add nounPhrase (only title), and further, Sandstorm will log a stack trace if you try to upload a package that contains actions without title.

[code]

[2016-04-27 03:36] ndarilek opened #1913 "Add ability to confirm/rollback grain upgrades"
So Rocket.chat just completely broke their UI for screen readers--as in, most of the links are entirely unusable.

I wonder if we might mitigate this by confirming grain upgrades? Basically, a grain runs with the new version of the spk, but the old data/spk is held in reserve. A "Confirm Upgrade" button appears and lets you remove the old data, while a Rollback button points the grain at its older

[2016-04-27 06:46] Deathsbman commented on #1901
I have set a static IP and port forwarded 433 and 80 . However when accessing the admin token Firefox tries to connect but then fails leaving a blank page.

Sandstorm port forward setup
![technicolor_gateway_-_sandstorm_-_waterfox_2016-04-27_11-10-58](https://cloud.githubusercontent.com/assets/18638234/14843800/3353e778-0ca7-11e6-9281-6d95077d8451.png)

Sandstorm assigned to the server
![technicol

[2016-04-27 12:32] dwrensha commented on #1901
By default Sandcats uses port 443, not 433. Does it work if you forward port 443?

[2016-04-27 13:22] Deathsbman commented on #1901
I have changed it to use port 443, but I am still unable to connect.

Thank you both for helping me with this.

[2016-04-27 16:35] neynah opened #1915 "Grain Management UI"
**Required to ship:**
Grain list:
- [ ] Grains archived will have an archive icon, grains trashed will have a trash icon. These will be displayed somewhere along each grain name.
- [ ] "Delete permanently" button should be disabled unless the grain is trashed. Only trashed grains can be permanently deleted.
- [ ] Disabled "Delete permanently" button will display a tooltip saying something like "On

[2016-04-27 17:01] dwrensha commented on #1915
I think "trashed" carries connotation we don't want. Maybe "remove" / "removed" would work better than "trash" / "trashed".

I'm also worried about the distinction between deleting a grain you own and forgetting a grain that someone else has shared with you. Could it possibly make sense to use "remove" in both of these cases?

[2016-04-27 17:05] ocdtrekkie commented on #1915
But "Trash", like "Recycle Bin", indicates you are not actually deleting something (like "Remove" often does. People may not realize that "Remove" doesn't actually delete anything.

[2016-04-27 17:09] dwrensha commented on #1915
Maybe the button could be "move to trash" and the filter checkbox could be "trash" (as a noun). But I'm still worried that "move to trash" might be confusing for "shared with me" grains.

[2016-04-27 17:11] ocdtrekkie commented on #1915
@dwrensha Here's a question: Is there potential value in allowing me to "Trash" a grain "Shared With Me"? As in, that my link to that grain is in my Trash, and I can undo it and get it back?

[2016-04-27 17:12] dwrensha commented on #1915
@ocdtrekkie: you tell me. Is that a feature you want?

[2016-04-27 17:14] ocdtrekkie commented on #1915
I could see accidentally deleting a grain link to someone's private grain accidentally just as much as accidentally deleting one of my own grains. Depending on the grain, it could be difficult to get the capability back (dude's on vacation or something, I don't know).

_And_, unlike my own trashed grains, which I presume still count against my storage, there's basically no downside to leaving a gr

[2016-04-27 17:15] paulproteus commented on #1915
I might sound like I'm sarcastic, but I mean this earnestly: I don't know
what connotation "Trashed" has that we don't want.

I also agree with ocdtrekkie that "Remove" is hard to understand as
reversible.

I also agree with dwrensha that hard to understand that "Trash" a shared
grain doesn't actually trash it for the owner.

[2016-04-27 17:16] ocdtrekkie commented on #1915
@paulproteus I assume the poor connotation of a "trashed grain" would be much like if I "trashed my dining room". Could be messy, corrupted, dirty, of poor quality, etc.

[2016-04-27 17:22] ocdtrekkie commented on #1915
I think it should be understandable that your trash is your trash, for your list. Aka, trashing a "shared with me" grain doesn't remove it from the actual owner.

Though, viable question: How will Sandstorm handle shared access to your grains when you archive them or trash them? I would assume archiving a grain I shared with someone would not disable their access, but trashing a grain I shared wit

[2016-04-27 19:11] neynah commented on #1915
So, we've decided to table "archived" for now since there's further discussion that needs to be made regarding archivs, labels, folders, etc.

After an in-person discussion there's concensus that "Trash" is acceptable and accurate but the word "Trashed" has a poor connotation as mentioned above. I've updated the notes above so that we're using the noun "Trash" rather than the adjective "Trashed".

[2016-04-27 21:24] zarvox commented on #1915
To clarify some intended behavior discussed above:

* Grains placed in their owner's trash cannot be started.
* ApiTokens (aka sharing links) placed in their owner's trash do not transfer permissions to their children.
* If you attempt to open a grain which is in your trash, you should see a message that the grain cannot be opened while in the trash and a button to move it out of the trash and sta

[2016-04-27 21:42] zarvox commented on #1915
@neynah We probably shouldn't have the tabs and the action buttons in the same row, particularly if they're changing presence/absence.

[2016-04-27 22:00] neynah commented on #1915
@zarvox The only other reasonable place I can think of is having the grain actions directly above the tabs but that's not super appealing to me as I think the grain actions should be directly above the grain list. Perhaps there is a better way we can display the "main list" tab and the "trash" tab.

[2016-04-27 22:53] ocdtrekkie commented on #1915
What about rather than tabs, having a "View Trash" button, and a "Back" button on the Trash tab? Then rather than tabs, you just have all actions?

[2016-04-28 00:24] paulproteus commented on #1913
I just wanted to chime in to say: I agree that this is important. I'll see
how we can prioritize this.

[2016-04-28 00:29] neynah commented on #1915
@ocdtrekkie I think there was a concern about it being unclear as to which set of grains were currently being viewed(without tabs). Perhaps that's solved with a title saying "Main list" with a button that says "View Trash" and vice versa as you're suggesting. We would need to be careful not to style the "View Trash" button similarly to the other actions that are grain actions though.

[2016-04-28 00:30] paulproteus commented on #1912
Hey @zarvox,

Are you OK with trying to handle this sometime in the next week or two? As I recall, you introduced nounPhrase. I am OK owning it if you prefer, but it'd take me a little bit of source code reading to make sure I understand how it's supposed to work.

[2016-04-28 00:31] ocdtrekkie commented on #1915
I feel like a tab alongside the main list is too high level for your trash. It's a folder you'll rarely if ever go to.

[2016-04-28 00:33] paulproteus commented on #1911
Hi @kpreid ,

I can reproduce this on Chrome on Android as well. Thanks for filing it. We'll see what we can do.

[2016-04-28 00:38] paulproteus commented on #1910
I can reproduce this issue. Thanks Kevin. I suspect I will be able to repro
it if I set my laptop's Chrome screen width to something suitably narrow,
which will then help me make sure I am fixing it correctly.

[2016-04-28 00:43] zombiezen commented on #1912
I should add that along with the stack trace, the app disappears from the list of apps.  It would be nice to have package checks happen before installing the package.

[2016-04-28 00:52] zarvox commented on #1912
Yeah, I'll take a look at this on this Friday or next.

[2016-04-28 00:58] paulproteus commented on #1912
Thanks! :D

[2016-04-28 01:22] paulproteus commented on #1869
![screenshot from 2016-04-27 18 20 27](https://cloud.githubusercontent.com/assets/25457/14872830/e0f69dce-0ca4-11e6-9ff9-c04e29c25949.png)

There is no longer a "Share" button for anonymous users in this case, so closing the issue! Thanks @dwrensha for fixing it, presumably in #1879

[2016-04-28 01:22] #1869 closed

[2016-04-28 03:41] #1386 closed

[2016-04-28 03:46] #1897 closed

[2016-04-28 04:34] mitar commented on #1869
There is no title either anymore? ;-)

[2016-04-28 05:08] paulproteus commented on #1869
In the case of viewing a grain to which you do not have access, while not logged in, yes, there is no title. But I think that is OK! :)

[2016-04-28 07:46] mitar commented on #1869
My example was from: https://alpha.sandstorm.io/grain/kB7bofATTL2jGuKSFwmqdA/GithubPRCommands

Where you do have access.

[2016-04-28 08:53] samuk commented on #1489
@ndarilek Did you make any progress on this one? Or are you stuck?

[2016-04-28 13:47] dwrensha opened #1916 "error when running `run-dev.sh`: Assertion `loop->watchers[w->fd] == w' failed."
[code]

Looks like this is somehow related to https://github.com/sandstorm-io/sandstorm/pull/1877.

[2016-04-28 14:53] paulproteus commented on #1916
Thanks for catching that. I'll fix that shortly.​

[2016-04-28 17:12] #1916 closed

[2016-04-28 17:44] paulproteus commented on #1869
@mitar d'oh. I meant to leave the image as a comment on this bug: https://github.com/sandstorm-io/sandstorm/issues/1065#issuecomment-201542062

[2016-04-28 17:53] paulproteus commented on #1480
Given the above, it seems that this needs:

- UI decisions & UI work (note that since expiring links are uncommon, it will probably take some discussion to figure out how to enable that in the sharing UI without distracting people who don't need this feature - the next step is probably to create a mockup for discussion).

- Backend implementation work - as @zarvox said, the `ApiTokens` table (whic

[2016-04-28 18:07] paulproteus commented on #1843
Not as far as I can tell:

- https://www.gnupg.org/related_software/libraries.html

- https://www.gnupg.org/related_software/frontends.html

I don't seem to perceive any big difference here between now and the GPG1 era.

I found some hearsay that claims the main difference between GPG1 vs GPG2 is that GPG2's build process is different:

Source: http://ubuntuforums.org/archive/index.php/t-1001120.h

[2016-04-28 18:18] paulproteus commented on #1850
@zarvox - I'm slow to reply to this, but:

Yes, it is documented here: https://docs.sandstorm.io/en/latest/developing/path/ - look for startSharing there.

[2016-04-28 18:35] mitar commented on #1843
Hm, what about using: https://www.gnupg.org/related_software/gpgme/

[2016-04-28 18:39] mitar commented on #1850
Yes, this is for starting sharing. This ticket is for that other dialog where you audit with whom you shared in the past. I would like that I could show that window as well.

[2016-04-28 18:54] paulproteus commented on #1850
For showing who you have shared access with, it "should be" "pretty
straightforward" (famous last words, I know) to do something very similar
to startSharing and build a new way for a grain to request that of the
shell.

https://github.com/sandstorm-io/sandstorm/search?utf8=%E2%9C%93&q=startsharing
should show you all the relevant code & docs. If you're interested in that,
I do think we would be h

[2016-04-28 18:54] neynah commented on #1915
Thanks for the feedback every one. I've updated the mock-ups above once again. I've removed the need for tabs and just added a "View Trash" button and "View Main list" button. Each grain that is in the trash also has a clear trash icon beside it.

[2016-04-28 20:12] paulproteus commented on #1915
@neynah & all, thanks for doing all this mocking-up and revising.

As random commenter, I will add that I would prefer that the button labeled "Trash" were labeled "Move to Trash", since I was a little confused about what clicking it does. I'm already +1 to these changes as-is; my remark is not intended to be showstopper-level.

[2016-04-28 20:13] paulproteus commented on #1915
As a side note about timeline:

- @dwrensha has been working on this for the past few days already, and

- I believe the goal is to ship this in the next 1-2 weeks, preferably even sooner.

[2016-04-28 20:17] ocdtrekkie commented on #1915
I am +1 on "Move to Trash".

And I am doubly +1 on such a near time frame!

[2016-04-28 20:20] neynah commented on #1915
@paulproteus I think "Move to Trash" is an improvement. :)

@zarvox Should this "Move to Trash" button be disabled until a user selects at least 1 grain?

[2016-04-28 20:21] dwrensha commented on #1915
Yeah, I'm disabling the bulk action items when nothing is selected.

[2016-04-28 20:23] neynah commented on #1915
Cool. I guess we'll also want to add a tooltip on the disabled button saying something similar to "Select a grain then move it to trash".

[2016-04-28 20:33] paulproteus commented on #1843
gpgme has been around for a long time, so it doesn't relate to GPG v2, but
it might or might not suit the purpose. I'll let Kenton decide that.

[2016-04-28 21:15] paulproteus commented on #1880
Hi @NickBroza ,

If this is still a problem, and you have root on the server, please try to run the following diagnostics:

[code]

If you can give me the output of the last command, that will be very helpful. My guess is that you'll find that the DNS resolution fails within the context of Sandstorm, and at that point, we'll have to figure out how to make it _not_ fail.

Slightly sorry that the de

[2016-04-28 22:16] zarvox commented on #1880
Oh yeah, I forgot about the gyrations we go through to reuse the host's DNS resolution.  @paulproteus thanks for reminding me about that!

Other potentially helpful information you could provide would be the output of running

[code]

from a shell on the server.

If `/etc/resolv.conf` or `/etc/nsswitch.conf` is a symlink that points outside of `/etc/`, we might be failing to link its into Sandstor

[2016-04-28 23:53] mitar commented on #1150
What about just having some flag to allow running grains permanently for now? I use this [great Meteor package](https://github.com/vsivsi/meteor-job-collection/) for my background jobs. It would be great if this could just work out of the box. But why the package is very cool is because it allows different ways to run a worker. So maybe there could be a special Sandstorm worker to run those jobs.

[2016-04-29 00:19] mitar opened #1918 "Support for <grainid>+<custom>@alpha.sandstorm.io e-mail addresses"
It would be great if all inbound and outbound e-mails could also use `+<custom>` suffixes to the address. Then app/user could use this to make even finer control to which outside service it gives which e-mail address. For example, imagine an mailing list reader, or reusable e-mail addresses app, it could create custom e-mail addresses every time and then know where the e-mail is coming from.

[2016-04-29 00:22] mitar commented on #693
Could we also allow HTTP post requests? This would allow apps to do bot POST requests in the name of the user. For me Sandstorm is really about making personal apps and such apps often also want to automatize some tasks. Sending an outbound HTTP POST is pretty common.

[2016-04-29 00:46] paulproteus commented on #1918
@kentonv would you be willing to provide a +1/-1 for if you're OK with `publicId+suffix` email addresses, as well as `publicId` email addresses?

As a clarification for @mitar it's not {{grainId}} before the @ sign currently, but instead {{publicId}}.

To some extent this is documented at https://docs.sandstorm.io/en/latest/developing/email-from-apps/ , but that page mentions `publicId` 0 times, s

[2016-04-29 00:48] mitar commented on #1918
Ah, yes, this is also OK with me. :-)

[2016-04-29 01:07] paulproteus opened #1919 "docs: Adjust email developer documentation to remark on publicId"
Other thoughts about https://docs.sandstorm.io/en/latest/developing/email-from-apps/

When you compare it with https://docs.sandstorm.io/en/latest/developing/web-publishing/ , you see that:

- The web publishing doc contains an overview and remarks on `publicId`

- The web publishing doc links to a full sample working app

- The email doc contains confusing text about if you should publish the pub

[2016-04-29 04:56] josephg opened #1920 "'Email us' link broken on https://sandstorm.io/community"
At [https://sandstorm.io/community](https://sandstorm.io/community)

![image](https://cloud.githubusercontent.com/assets/47413/14908416/7b2573cc-0e1a-11e6-9f53-425a5309b265.png)

'Email us' links to `https://sandstorm.io/community@sandstorm.io`

[2016-04-29 05:03] josephg opened #1921 "User flyout blocks scrolling"
The CSS on the top-right user flyout (either for login/logout or anything else) makes the element fullscreen and blocks scrolling on the rest of the page:

![image](https://cloud.githubusercontent.com/assets/47413/14908476/edd4a366-0e1a-11e6-81ab-2ff641ab473f.png)

CSS:

[code]

Removing the `bottom` and `left` tags fixes it:

[code]

[2016-04-29 05:29] kentonv commented on #1920
Fixed, thanks!

Amusingly, I learned about this through a Twitter bot before seeing it here:

https://twitter.com/brokencodebot/status/725912611913486336

[2016-04-29 05:29] #1920 closed

[2016-04-29 05:32] kentonv commented on #1921
There is an invisible overlay which covers the entire screen so that when you click outside the popup, it closes. Doesn't your suggested change break that? Maybe the right solution is to catch scroll wheel events in that overlay and somehow let them fall through? (Can we do that?)

[2016-04-29 05:34] kentonv commented on #1918
Sounds fine to me, although these ephemeral emails are a hack that should go away entirely at some point...

[2016-04-29 05:37] paulproteus commented on #1918
Great!

Also: what's wrong with these ephemeral email addresses? I keep wanting to
make a mailinator replacement based on them.​ (Although arguably the
Roundcube app already is that, but anyway.)

[2016-04-29 05:43] mitar commented on #1918
Cool. What is the planned replacement for them?

[2016-04-29 06:01] kentonv commented on #1918
The replacement is some UI that lets you choose pretty addresses, perhaps at a separate domain which is also somehow managed through Sandstorm. :)

[2016-04-29 06:03] josephg commented on #1921
Oh, is that why? Gross. That also means that hovers & clicks on any other elements won't work. If that is the desired behaviour then the rest of the screen should be 50% darkened or something so the user knows they're only interacting with the overlay. I mean, that behaviour makes the popover an invisible modal.

But thats probably a bad idea. I don't think you can redirect an event in a clean way

[2016-04-29 06:25] mitar commented on #1918
But ephemeral addresses which can be used without user interaction are useful as well. But yes, for meaningful addresses users should be consulted.

[2016-04-29 06:26] mitar opened #1922 "Cannot make sandstorm on clean VM"
[code]

So Meteor is installed, it finds `npm`, but not `node`. I suspect `node` is not added to `PATH`?

[2016-04-29 06:31] mitar commented on #1922
Doing:

[code]

Fixed a problem for me.

[2016-04-29 06:34] kentonv commented on #1921
We could make the sign-in hint specifically go away after a bit, or maybe close it if you try to scroll, or maybe even not use the overlay specifically in that case. But I would not want a popup which the user explicitly opened to disappear if they don't interact with it fast enough -- I always hate it when things do that.

While I get that the sign-in hint specifically is kind of a pathologically

[2016-04-29 06:44] kentonv commented on #1903
Oh hey, this means I no longer have like 20 crap grains at the top of my grain list on Alpha.

... is this actually a bad thing? :)

[2016-04-29 06:51] josephg commented on #1921
Interestingly enough, macos has sandstorm's current behaviour with its menu bar. If you have a menu open then clicking on anything else closes the menu, and nothing else. And I had no idea it did that - it never came up. I suppose the behaviour is fine in the case of a user explicitly opening a popup.

... But the nag screen for signing in is the opposite of that. Because the user didn't open it t

[2016-04-29 06:56] kentonv commented on #220
@zenhack Relevant: https://sandstorm.io/news/2015-05-01-is-that-ascii-or-protobuf

Though probably the answer to that problem here is to say: "You need to use a signing key that you only use for signing natural language text."

Another thing to consider: If we used decryption rather than signing, then we could actually store a symmetric key encrypted to your public key, and encrypt all your data o

[2016-04-29 07:12] kentonv commented on #1480
Note that there's another subtly different use case to consider: Create a sharing link that expires after a short time, but people who actually click on it within that short time get long-term access. This is useful for defending against a sharing link leaking long after it served its purpose.

[2016-04-29 07:26] kentonv commented on #693
@mitar This issue is not about grains doing HTTP requests, it's about making the Sandstorm shell's HTTP requests go through a proxy (as is required on e.g. many corp networks).

[2016-04-29 07:29] mitar commented on #693
Oh, sorry. I misread. I read "To implement the httpGet() API method, which e.g. TinyTinyRSS uses to fetch RSS feeds." Is there a more appropriate ticket? Or should I open a new one?

[2016-04-29 07:33] kentonv commented on #693
@mitar Dunno if there is a ticket. Secretly you can do posts today using HackSessionContext::getUiViewForEndpoint() and passing a regular old URL (rather than a webkey) and then requesting a WebSession. However, all these APIs will be replaced soon with Powerbox APIs (which will definitely support POST). Feel free to open a ticket or don't, either way it'll get fixed just as fast.

[2016-04-29 07:35] mitar opened #1924 "Allowing outbound HTTP POST requests"
Could we also allow HTTP POST requests? This would allow apps to do bot POST requests in the name of the user. For me Sandstorm is really about making personal apps and such apps often also want to automatize some tasks. Sending an outbound HTTP POST is pretty common.

[2016-04-29 07:35] mitar commented on #693
Opened #1924.

[2016-04-29 08:00] kentonv commented on #1150
@mitar Note that we want to be careful about making it too easy to consume lots of resources on Oasis. Our pricing is based on the assumption that people aren't using Oasis like they would a normal always-on server. Eventually we'll actually enforce limits on compute resources but we haven't had a chance to implement that yet...

[2016-04-29 08:01] pgrm commented on #1480
So one thing is an invite link which expires and the other is the actual
share which expires. In which case the share doesn't have to be a link. It
can be a normal share with a user as well or?

What do you think?

On Fri, Apr 29, 2016, 09:12 Kenton Varda <notifications@github.com> wrote:

[2016-04-29 08:04] mitar commented on #1150
I completely agree with not allowing CPU intensive applications. But here I am more thinking about personal "background workers/bots" which can do things for you. Not really compute things, but do stuff for you. I think this is nicely related to other personal apps Sandstorm is targeting.

[2016-04-29 08:29] mitar commented on #1150
@kentonv: Any suggestions on how would you implement this, if you would have time? Maybe I will have time to look into this.

[2016-04-29 09:35] mitar commented on #1850
I made #1926.

[2016-04-29 10:12] mitar opened #1927 "Release channels for apps"
It would be great if apps would provide release channels. So that users could decide for example between stable and experimental channels.

[2016-04-29 12:01] zenhack commented on #220
Ok, yeah, wow.

My immediate thought is "how many developers can I find in the wild who sign packages, git tags and emails with the same key?"

"You need to use a signing key that you only use for signing natural language text" sounds more much like "You should use a different password for every site" than I'm comfortable with -- my bet is many people won't. Doesn't diminish the importance of the

[2016-04-29 18:14] paulproteus commented on #1480
@kentonv Interesting that you draw this distinction. In my mind, I was always imagining that a short-term sharing link would enable long-term access once redeemed.

Are there people on this thread who wish for short-term sharing links that don't allow long-term access, once redeemed? Honest question.

[2016-04-29 18:20] paulproteus commented on #1921
I'm part of the reason we have that sign-in nag, and all I can think of right now is the phrase, "The law of unintended consequences."

[2016-04-29 19:21] pgrm commented on #1480
Yes, I am :) my original idea came from the app which let's you share your
location which can be really useful for few hours or an evening to know
where people are, and afterwards you don't want to share it anyone. Maybe
it would be easier to solve this on application level, but sandstorm just
thought me that I can trust sandstorm more than the apps running inside

On Fri, Apr 29, 2016, 20:14 Ashe

[2016-04-29 19:24] paulproteus commented on #1480
Ah hah. Thanks for taking the time to spell that out for me!

[2016-04-29 21:24] zarvox commented on #1921
I would suggest that the behavior be:

* sign-in nag popup still shows by default.  It should probably not automatically hide itself after any period of time; time-based changes to the page are rather unusable for nonvisual, keyboard-only, or limited-mobility users.
* sign-in nag should not place the transparent modal over the whole page, so that `cursor:` styles from the app and other interactive

[2016-04-29 22:19] #1922 closed

[2016-04-29 23:32] mitar opened #1933 "make stylecheck produces no useful output with jscs 3.0.3"
Example:

[code]

[2016-04-29 23:35] mitar commented on #1933
If I remove `verbose` and `esnext` output and , I get output, but also a strange error at the end:

[code]

[2016-04-29 23:48] kentonv commented on #1921
@zarvox I'm not sure we'll get click events that hit the iframe, though.

[2016-04-29 23:55] josephg commented on #1921
Yeah its easy to test in the chrome console - `window.onclick = () => console.log('clicked');` then click around. You don't see the clicks inside the iframe.

Maybe the signin nag can just sit there until the user explicitly dismisses it.

[2016-04-30 00:07] kentonv commented on #1150
@mitar The issue is not with CPU usage but RAM usage. Unfortunately, most apps use about the same amount of RAM whether or not they are currently in-use.

Implementing accounting and quotas for RAM is complicated low-level work involving cgroups and other kernel features, and is probably the kind of thing that needs to go into the non-open-source parts of Oasis.

[2016-04-30 00:07] #1822 closed

[2016-04-30 00:34] zarvox commented on #1921
Maybe we can also do something with watching focus?  If the nag grabs focus on initial display, then we could probably dismiss it if focus leaves the nag, which I think would happen when the iframe gets focused.

Leaving the signin nag would also probably be okay, since it does have a way to be explicitly dismissed.  Much smaller click target, though.

[2016-04-30 00:36] kentonv commented on #1921
Hmm... Watching focus sounds promising, though it means if people click away from the window entirely, the nag disappears, which might be odd.

[2016-04-30 00:39] mitar commented on #1150
Yea, having whole app up just for some background task is probably overkill. I am not even sure if quotas are a solution here. Or maybe some addition to the architecture allowing background jobs to run somehow without bringing up the whole grain. I would not be wanting to pay the whole "app consumption" for 24 hours a day just so that it can wake for 5 minutes every 24 hours.

[2016-04-30 00:55] josephg commented on #1921
@zarvox thats a brilliant idea.
@kentonv actually you don't get onblur events firing on elements when the browser / tab itself loses focus. The element is still considered focussed inside the window - just the window itself has lost focus.

I just tested it in the chrome console and it ticks all the boxes. The onblur fires correctly when I click in the iframe. The changes are:

- Add `tabIndex=0 a

[2016-04-30 01:06] kentonv commented on #1150
Right, the right answer here is to have an API for scheduling events, so that Sandstorm starts up the grain when needed, so that it doesn't have to run 24/7.

[2016-04-30 01:09] mitar commented on #1150
Or that some subset of the app only starts up. For example, for Meteor, no need to to load most of it. :-)

[2016-04-30 01:13] mitar commented on #1150
But isn't grains not being on all the time also an issue for external API requests? Which would have to wait for the grain to come up?

[2016-04-30 01:15] zarvox commented on #1933
Huh, if I remove verbose and esnext, I get a bunch of complaints that are probably JSCS getting more precise about rules over time, followed by that same stacktrace.

Looks possibly related to https://github.com/jscs-dev/node-jscs/issues/1828 ?  JSCS is definitely tripping up on something and failing internally.  I guess my reply is "try an older version".

[2016-04-30 01:16] mitar commented on #1933
Yes, I am using old version for now. Just wanted to report.

[2016-04-30 01:30] josephg commented on #1921
... But maybe the app not having focus for users who aren't logged in isn't a big issue.

[2016-04-30 03:54] mitar opened #1934 "No such file or directory; name = /var/mail/tmp/_Qa8lI_Valn8JIBtmb2kcd1"
Hm, it seems that receiving e-mails do not work if app does not create before necessary spool directory?

There is no `/var/mail/tmp` nor `/var/mail/new` and it seems http-bridge code currently assumes there is.

[2016-04-30 08:31] mitar commented on #643
When user is anonymous? ;-)

[2016-04-30 19:35] terpinter opened #1935 "I tried to redirect the RocketChat - Sandstorm.io to my page, but I got TXT error"
Hi!
I am trying to learn Sandstorm.io to install apps and I got the following problem:

I am trying to install RocketChat using Sandstorm on my test url: terpinter.org
When accessing terpinter.org, i got this error
Host "sandstorm-www.terpinter.org" must have exactly one TXT record.

Here is some information:
- terpinterchat.sandcats.io
- http://128.199.69.248
- Terpinter.org
- Host "sandstorm-www

[2016-04-30 19:43] #1935 closed

[2016-04-30 20:00] ocdtrekkie commented on #1150
@mitar Nope. Sandstorm starts up the grain to answer an API request.

[2016-04-30 20:02] mitar commented on #1150
What about to handle incoming e-mail?

[2016-04-30 22:30] zarvox commented on #1150
Inbound email also starts up the grain: https://github.com/sandstorm-io/sandstorm/blob/master/shell/server/drivers/mail.js#L131

From the outside looking in, every external interaction with a grain can lazy-start the grain, because grains have no direct connection to the outside world, and everything is proxied through Sandstorm.

[2016-05-02 12:16] zeigerpuppy opened #1936 "Show URL of sharable link in "who has access""
When a sharable link is created, it's possible to copy the URL of the link.

However when one looks at the "see who has access" panel, it is not possible to see the URL from the shared links.

It would be really useful to be able to see the URL of the shared link so that it can be reused.

[2016-05-02 14:04] ocdtrekkie commented on #1936
This is a "feature", not a "bug". Since these links issue permissions, they're being treated as secrets, like passwords. I don't remember where the thread or issue is, but Kenton explained his reasoning for it pretty well.

I actually keep a grain of my public share links I want to reuse to circumvent this.

[2016-05-02 17:05] kentonv commented on #1936
The server actually does not store the secret URL, only a hash. This means the server can verify that a user is visiting the correct URL, but it cannot reproduce the URL on-demand. This is a security feature.

That said, many people have asked for the ability to obtain the "same" URL again. To that end, we plan to add a button which actually generates a _new_ URL but treats it as the same URL for

[2016-05-02 19:02] neynah opened #1938 "Admin Panel Redesign: Invite User"
Proposed design (which is not very different from what we already have):
![inviteuser1](https://cloud.githubusercontent.com/assets/855341/14964578/9ddb8f24-105d-11e6-86c0-53d64e415e08.png)

Requesting feedback/discussion from @zarvox & @paulproteus.

[2016-05-02 19:47] zarvox commented on #1938
I was hoping to go a little bit in the other direction - leave in only the "get an invite link" button, and abandon the email flow until we have something which lets you initiate the full account-provisioning flow smoothly from the admin side.

Rationale:

* The email templating is unnecessarily technical, and most users would probably be better served by us coming up with better copy to explain S

[2016-05-02 20:13] paulproteus commented on #1938
I think @neynah's mockup is basically reasonable but I'm +1 on @zarvox not implementing it as part of the current goal of "Ship the new admin interface."

In terms of what the minimalist version would support:

+1, although I will email sandstorm-dev to make sure people seem OK with this

+1

I would also like some text on the page, indicating to admins what they should do. @zarvox I'm fine with y

[2016-05-02 20:32] neynah commented on #1938
Does this UI appear in a modal after the Admin clicks "Invite User"?

[2016-05-02 20:41] dwrensha opened #1939 "restoring a backup can fail if uploading takes more than 15 minutes"
Uploaded backup files and their tokens [are cleaned up every 15 minutes](https://github.com/sandstorm-io/sandstorm/blob/v0.161/shell/server/backup.js#L24-L31). If an upload is pending during one of these cleanups, it ends up failing with "Upload failed: Unauthorized [403]", thrown from [here](https://github.com/sandstorm-io/sandstorm/blob/v0.161/shell/server/backup.js#L75-L77). At the very least w

[2016-05-02 21:09] neynah commented on #833
Is this issue safe to close now?

[2016-05-02 21:15] paulproteus commented on #1336
As a pseudo-update: I believe I have lost all my in-progress work on this. I might be able to recreate it. Maybe we should de-assign from me and Jason, and then see what it would take to fix this. I'll do that now.

[2016-05-02 21:17] zarvox commented on #1938
I imagined it would be a separate page - click "Invite User" on "Users" page shows "Users / Invite" page, with breadcrumb.

If you made it a modal, it'd be weird that this modal, unlike most others, would not have a workflow through which you "complete" the modal interaction, since you might generate multiple links, and you need to copy out the generated link via the clipboard in any event, so the

[2016-05-02 21:18] paulproteus commented on #1803
I'll get to this shortly, i.e. within the next 1-2 weeks.

[2016-05-02 21:21] paulproteus commented on #632
I believe that the new error page addresses the most important part of this issue - the fact that there was no discoverable path from the error message to a fixed server. Changed in 8b374aebc7c8cc28f2a60125c87d0f3bbd388a2e

I'm attaching a screenshot on this and declaring victory. Thanks @cben for filing!

![new-error-page](https://cloud.githubusercontent.com/assets/25457/14968336/1db7edf6-1071-11

[2016-05-02 21:21] #632 closed

[2016-05-02 21:28] paulproteus commented on #631
I'll fix this in the next 1-2 weeks. I pushed a branch that has a probably-fix but I haven't tested it yet.

[2016-05-02 21:29] paulproteus commented on #1028
Fixed in 6b5351c4a58c29e9bf3ad6d16bae27895aeaad38

[2016-05-02 21:29] #1028 closed

[2016-05-02 21:33] neynah commented on #1938
If an Admin wants to invite a new Admin, they will first invite them as a User and then promote them to Admin right?

It sounds like we'll need some description/explanatory text on this page to describe what these links/how to use them.

It's possible that if an Admin wanted to invite 10 users at once, they would:
1. Click the button once and then share the link (10 times over), or
2. Click the bu

[2016-05-02 21:33] jparyani commented on #833
Yes this has been fixed already.

[2016-05-02 21:33] #833 closed

[2016-05-02 21:34] jparyani commented on #997
Closing, as we haven't seen this issue in a while.

[2016-05-02 21:34] #997 closed

[2016-05-02 21:35] paulproteus commented on #1938
Oh, I guess sending multiple invites is a reason to want the old functionality back, or something else to handle sending multiple invites. I can still live with the removal of the email template UI, but now I'm -0 on removing it, whereas before I was +1 on removing it.

[2016-05-02 21:37] paulproteus commented on #1029
Fixed in 6b5351c4a58c29e9bf3ad6d16bae27895aeaad38 so closing now.

[2016-05-02 21:37] #1029 closed

[2016-05-02 21:38] paulproteus commented on #660
I'll leave this self-assigned for now and re-examine in the next 0-2 weeks.

[2016-05-02 21:47] paulproteus commented on #1158
I've just pushed a branch containing a patch for this. I'll verify this within 0-2 weeks.

[2016-05-02 21:49] paulproteus commented on #1315
Sounds like there are two issues here.

- If the GlobalSign API (via sandcats.io) breaks, don't crash the installer.

- Fedora 23 might not have `/usr/local/bin` on `$PATH` which means `sudo sandstorm start` is bad advice.

I'll keep this assigned to me to see if I can examine it when examining other installer issues in the next 0-2 weeks.

[2016-05-02 21:50] paulproteus commented on #1489
Hi @ndarilek

Since you're able to get past the crash, by changing `dist-upgrade` to `upgrade`, I'm going to close this for now. Let me know if you think I should do something different.

[2016-05-02 21:50] #1489 closed

[2016-05-02 21:57] paulproteus commented on #1483
Hi @vivienkit ,

For now there really isn't a way to do this, unless you implement something resembling http://jensd.be/160/linux/split-horizon-dns-masterslave-with-bind or https://en.wikipedia.org/wiki/Split-horizon_DNS for the hostname you use for Sandstorm.

Sorry that we don't have a solution for you built-in to Sandstorm. Even if we supported having two acceptable BASE_URL values, someone mig

[2016-05-02 21:57] #1483 closed

[2016-05-02 21:58] paulproteus commented on #1281
Hi @noci2012 ,

Thanks for filing this. I'll dig into it in the next 1-2 weeks.

[2016-05-02 21:59] paulproteus commented on #844
De-assigning for now.

[2016-05-02 22:17] paulproteus commented on #1395
I agree this is important. I'll aim to get to it in the next 0-2 weeks.

[2016-05-02 22:17] paulproteus commented on #1399
De-assigning for now, since I'm not currently planning to work on this in the next 0-2 weeks.

[2016-05-02 22:19] paulproteus commented on #1360
Tasks before this is completed:

- [ ] Merge this into a dev branch on e.g. my laptop
- [ ] Run installer-tests
- [ ] Update docs etc to explain that one might have to remove a sysctl.d file, rather than remove a sysctl.conf line, on uninstall (?)

I should do this in the next 0-2 weeks because I don't like how long it's been sitting here.

[2016-05-02 22:20] paulproteus commented on #1209
I'm not looking into this right now so deassigning myself.

[2016-05-02 22:23] paulproteus commented on #1436
I'm currently not necessarily going to do this in the next 0-2 weeks so I'm deassigning for now, but I hope to do it soon, and would be happy to review a pull request.

[2016-05-02 22:23] paulproteus commented on #515
Still aiming to do this soon (0-2 weeks), so leaving it assigned to me.

[2016-05-02 22:24] paulproteus commented on #1306
Thanks for filing, all. I'll implement this soon.

[2016-05-02 22:24] paulproteus commented on #693
I haven't done any work on this lately, so I'm de-assigning from myself for now so that no one thinks I am.

[2016-05-02 23:44] zeigerpuppy commented on #1936
that sounds reasonable, thanks for the explanation.  It may also be interesting to have some stats available on the number of times a link has been accessed.

[2016-05-03 00:16] zarvox commented on #1938
This seems reasonable enough for now.  Inviting new admins is not a frequently-used workflow.  I'd like to see the "create user as admin" flow supported in the hypothetical v2 user-creation flow.

Yes.

For security reasons, these are single-use links, so they'd need to do 2).  But again, if you're inviting a bunch of people at once, in most cases you're better served by org management, and I'd ar

[2016-05-03 00:21] ocdtrekkie commented on #1938
If anything, I'd be more worried about accidentally making it too easy to make admins, inadvertently, than making it a one-step process to make an admin.

[2016-05-03 00:21] paulproteus commented on #1938
I'm +1 on a widget that doesn't allow customization (although I'd like it if showed a preview of the email). @zarvox I liked your proposal.

@zarvox I share your -1 on " a bulk-invite scheme that doesn't automate delivering the notifications via email"; I agree it's a lot of work for relatively little value.

[2016-05-03 00:48] neynah commented on #1938
she hits enter
the Sandstorm server generates an invite link, and sends it in an (at least initially) non-customizable email that briefly explains what Sandstorm is and sets context for that user to be onboarded.
The input box is cleared and the email address/link just sent appears in a list of sent invites just below the input form

So it's similar to the mock-up above with the differences being:

[2016-05-03 02:07] mitar commented on #1150
Hm, then maybe the easiest thing would be to have something like starting the grain from outside at regular time. Imagine that Sandstorm would call API every day, so that grain can do something. So if Sandstorm is starting grain for mail and API, then it can also start at regular interval. And then free plan would get Sandstorm to start it once a day, but if somebody wants it more regularly, they

[2016-05-03 23:35] neynah commented on #1915
@dwrensha I updated the trash list UI in the mock-up above to show additional help text and a "Days remaining" column. "Days remaining" is more valuable & digestible for the user than "Date moved to trash" but perhaps "Days remaining" should be implemented in the future & not for the first version.

[2016-05-03 23:36] paulproteus commented on #1915
I'm +1 on "Days remaining" being more meaningful over "Date moved to
trash", fwiw.

[2016-05-04 06:19] memento commented on #57
Hi,
Still very interested.
Any help needed ? What's your repository ?

Have a great day

[2016-05-04 11:03] zenhack commented on #1418
A wrinkle re: the claim that sandstorm doesn't currently prompt for secrets: email login. Here's an attack that could give the attacker access to a user's account:

1. Assume we've already gotten as far as redirecting the user to our malicious server, thinking they are going to install an app on their server.
2. Our server presents an email login interface, the same as displayed by sandstorm
3. Wh

[2016-05-04 19:09] kentonv commented on #1418
@zenhack Hmm, I think what you describe is actually a more general problem with email login that isn't particularly specific to app market redirects. I might, for example, give you a link to a rocket.chat grain on my personal sandstorm server which I've maliciously modified such that it MITMs the email login flow. Rocket.chat requires login, so you'll likely go ahead and do so, and if you don't ca

[2016-05-04 19:28] zenhack commented on #1418
Yeah, I think you're right. That's *much* more serious. One simple way to deal with this is to *only* have the link, and take out the option to type in an authentication code.

[2016-05-04 19:36] kentonv commented on #1418
@zenhack Indeed, although it's sad because in practice I almost always use the code, and the code is actually highly preferable in some cases, e.g. when I'm logging in on desktop but receiving email on my phone...

[2016-05-04 19:49] zenhack commented on #1418
Agree, not sure what to do about it though. Could try shortening the
URL, but getting rid of the email address itself makes me nervous, and
without that even if we made _emailLogin negligibly short it would
probably still be burdensome to type the whole URL.

[2016-05-04 20:20] zenhack commented on #220
Maybe the thing to do is just document that pitfall right on the login page itself; might actually raise some awareness of the issue.

Perhaps as a mitigating measure we should look at other popular things GPG is used to sign; distro packages, git tags, whatever monkey sphere does... and craft the string format to avoid collisions with those. This way, an attacker would at least need to make the s

[2016-05-04 22:16] gwillen opened #1942 "Show identity cards for recent users on login screen"
BACKGROUND:

Today I complained on #sandstorm IRC that I logged in and all my grains were gone.

The actual problem was that my session had expired after a year, and I had forgotten which login method I used (I created the account using github, because email-token didn't exist yet; but I would have used email-token were it available, so it was natural for me to assume I had. Additionally, our work

[2016-05-04 23:09] gwillen commented on #1936
@kentonv With the new button, would the new and old URLs also be revoked together if revocation happens? (Are they treated as a single capability internally, or just at the UI layer?)

[2016-05-04 23:12] paulproteus commented on #1936
Yeah, revoked together is the idea.​

[2016-05-05 00:58] mitar opened #1943 "Provide session ID as x-client-ip for HTTP bridge for Meteor apps"
`x-client-ip` header is one of [whitelisted headers](https://github.com/sockjs/sockjs-node/blob/master/src/transport.coffee#L133) in sock.js which is used by Meteor. My proposal is that HTTP bridge (maybe only when running for Meteor app) would provide **in addition** session ID as `x-client-ip` header (or any other whitelisted headers, if preferred, maybe `x-forwarded-for`).

This would allow us

[2016-05-05 01:10] mitar commented on #1943
Maybe this could just be an argument to HTTP bridge which Meteor apps can then use:

[code]

[2016-05-05 01:12] mitar commented on #1943
On IRC, in discussion with @zarvox, we could maybe just patch sock.js in meteor-spk to whitelist all Sandstorm headers.

[2016-05-05 01:30] mitar commented on #1943
Another option would be to use node.js middleware to register before the sock.js for the same endpoint and store away headers or modify them so that the session header is copied to `x-client-ip`.

[2016-05-05 01:35] kentonv commented on #1943
You don't want this -- it would be a security hole.

SockJS is intentionally XSRF-able -- the connection could originate from any origin. In particular, SockJS has a transport that involves iframe-ing a page inside the app's origin and then postMessage()ing through it. Any third-party origin would be able to access that transport, and on the server side we have no way to tell that the messages ori

[2016-05-05 01:35] #1943 closed

[2016-05-05 02:25] mitar commented on #1943
But this is a bad design from sock.js? Sock.js does receive origin information through `postMessage` and it could use it to allow only permitted message to be received?

[2016-05-05 02:51] kentonv commented on #1943
@mitar I don't know that I'd call it "bad" design. Their goal is to do everything WebSocket does. WebSocket supports cross-origin connections. I suppose technically WebSocket supports an "origin" header which sock.js is failing to emulate in some cases. However, sock.js is very clear in the documentation that authentication must be carried out via messages on the socket, not by auxiliary cookies o

[2016-05-05 03:40] mitar commented on #1943
I think their goal is to not agree with origin-based security model of the web and allow everyone to connect to everyone (I think all endpoints are CORS-connectable by default) and then do authentication through an app. I think this is a valid design decision to have, but I do not like that it is forced on users as the only one. In particular, for Sandstorm which uses origin-based security a lot i

[2016-05-05 03:43] mitar commented on #1943
BTW, it is sock.js [philosophy](https://github.com/sockjs/sockjs-client):

"Out of the box" means "change the default security model of the web". Really no surprise that it is then surprising how it works.

[2016-05-05 23:33] zarvox commented on #1938
After discussing in person, we've concluded that it's best for feature throughput for us to table any changes to the invite UI until the rest of the new admin project ships, as there are too many open questions and we didn't intend for this to be a blocker.

I will build something which imitates the current UI, despite its flaws, and we will later work on a new workflow to improve onboarding.  Let

[2016-05-06 17:42] #1827 closed

[2016-05-06 17:44] #1828 closed

[2016-05-06 17:47] #1933 closed

[2016-05-06 17:49] ocdtrekkie commented on #280
As a note, Asheesh: For internal servers/applications in business settings, self-signed certs (and the warning about them) are very common.

And sandcats.io dynamic DNS and wildcard certs are a thing!

[2016-05-06 17:50] ocdtrekkie commented on #316
Sandstorm does this now, doesn't it? Can close?

[2016-05-06 17:58] ocdtrekkie commented on #722
This was addressed satisfactorily.

[2016-05-06 17:58] #722 closed

[2016-05-06 18:00] kentonv commented on #316
Indeed!

[2016-05-06 18:00] #316 closed

[2016-05-06 19:44] kentonv commented on #1942
A simpler version of this might be: When your resume token expires, instead of simply logging you out, we should prompt to log in again as the same identity. OTOH, if you explicitly log out, we probably don't want to remember who you were, because you may be on a shared computer and not want your identity to be kept there.

Another high-value thing we should do here is correlate email addresses. I

[2016-05-06 19:46] mitar commented on #1850
Done with #1926 and #1941.

[2016-05-06 19:46] #1850 closed

[2016-05-06 21:42] paulproteus commented on #1934
Hi @mitar,

I talked with Jason and Kenton in person and learned that this is the desired behavior. Creating the directory is an indication that your app actually wants to receive mail, in the current HackSessionContext world.

I've also added docs on those lines, which will go live momentarily.

I think that addresses the question you had in this issue; if not, do let me know.

[2016-05-06 21:42] #1934 closed

[2016-05-06 21:52] paulproteus commented on #1927
I agree that this would be great. It's not something on our agenda for the next couple of months. I think the things needed here are:

- A technical design of how that would integrate into the app market's JSON output

- A technical design of how apps might interact with this, such as proposed `spk upload` commands

- Visual design for how this would look within the app market (maybe they're all d

[2016-05-06 22:01] mitar commented on #1927
Do you use labels here?

[2016-05-06 22:06] paulproteus commented on #1927
We do use labels a little bit, but I don't know that we have a well-thought-out labeling scheme.

[2016-05-06 22:11] paulproteus commented on #507
Hi @mitar,

I figure I should either:

- close this, since the issue is mostly discussion of what sorts of apps are good fits for Sandstorm, and how to properly package apps like WordPress or MediaWiki, or

- leave it open, until we write docs on this hypothetical "app addons" concept that we can point people to.

My personal preference is to close it for now, since app addons are a distant featur

[2016-05-06 22:11] #507 closed

[2016-05-06 22:17] neynah commented on #1927
We don't yet but we should! :)

[2016-05-06 22:20] paulproteus commented on #508
Hi @mitar and all,

I think that if we haven't progressed on this in a year, keeping it open as an issue isn't going to cause it to progress. The core team hasn't been focusing on integration with unhosted apps.

I would personally love to see unhosted apps and Sandstorm integrate well. Since it's not a core team priority, I think the best thing to do is to close this issue, so that passers-by kno

[2016-05-06 22:20] #508 closed

[2016-05-06 22:22] paulproteus commented on #1841
As an update, David Renshaw has been working on a trash view in https://github.com/sandstorm-io/sandstorm/issues/1915 which may include this.

[2016-05-06 22:26] paulproteus commented on #1743
Hi all here,

In the current proposed design by @neynah and @dwrensha the trash icon will stay where it is, but it will cause a grain to go to the trash, where it is not immediately deleted, but instead deleted after 30 days and can be immediately restored.

I wanted to ask - is that adequate, in your opinion?

Thanks!

[2016-05-06 22:30] paulproteus commented on #1840
@mitar since there is vagrant-spk, do you still have this need?

If so, you should at least know that it's not currently a core team priority, so if you want it, you might have to add it yourself. We would review pull requests that add it.

I would be a big fan of someone adding `spk` to homebrew for that reasons, so long as the `spk` tool indicated clearly which features are unavailable due to no

[2016-05-06 22:31] paulproteus commented on #1853
Hi @mitar,

I agree that it could be nicer. Is there a different encoding that suits you better that is still valid capnproto? If so, I'd love to hear about it.

For my part, I found it confusing at first, but after a while, I found it second-nature, so now I'm not sure what other change I would make.

[2016-05-06 22:44] ocdtrekkie commented on #1927
A note from the mailing list of mine:

apps.sandstorm.io/?experimental=true on the App Store is a nice place to go for unapproved apps, a trend could be made to keep apps named "xxxxx Beta" unapproved, to separate them as true experimental apps from the main app market.

But of course, right now there'd be no way to switch a grain between those channels, because they'd be separate app IDs.

[2016-05-06 22:49] paulproteus commented on #1851
Hi @mitar,

I think that the static list in `sandstorm-pkgdef.capnp` of roles is related to `sandstorm-http-bridge`. You can get a sense of that by reading `src/sandstorm/sandstorm-http-bridge.c++`

Specifically, the names of the roles is generated as part of `kj::Promise<void> getViewInfo(GetViewInfoContext context) override` in that file.

The view info is cached when the grain starts; search th

[2016-05-06 22:57] paulproteus commented on #1863
Interesting request. That's not something we're probably going to do soon, but we can keep it in mind. I think we would review pull requests.

It would probably make sense to have some events that Sandstorm can pass to apps, by calling methods on the `UiView` to notify them of events.

[2016-05-06 22:59] paulproteus commented on #1629
Hi all,

Another way to think about this is that the `UiView` capnproto interface could grow methods that Sandstorm would call to notify it of changes. Then sandstorm-http-bridge would be responsible for passing those into apps. One way to do so is over Meteor/DDP as @mitar suggests. Another is over a HTTP POST.

[2016-05-06 23:03] paulproteus commented on #1865
Hi @mitar,

Does the fact that there are docs for this obviate the need for Sandstorm itself to have the permissions sync feature, since apps and their build systems can implement this themselves?

For now, I will close it since apps can do this themselves, but if you disagree, feel free to re-open.

[2016-05-06 23:03] #1865 closed

[2016-05-06 23:04] paulproteus commented on #1885
@zarvox does it make sense for you to look into how to best fix this, perhaps merely by changing the `spk init` template to account for your `nounPhrase` changes? If so, and you're wiling to do so in the next 0-2 weeks, I'd love for you to assign it to yourself.

If not, then I can see what else we can do.

[2016-05-06 23:06] paulproteus commented on #1855
@kentonv does a session restart result in a new ephemeral hostname for the app? Just trying to make sure I understand the above.

[2016-05-06 23:10] paulproteus commented on #1866
Hi @mitar,

I'm not sure I understand what you mean when you say "done" here, and I'm interested in seeing this ticket progress forward. Particularly:

- What kind of space savings do you get with/without the compression?

- Would you be willing to submit something like this a pull request to Sandstorm, so that we could test and merge that?

If not, that's fine, but I thought I might as well ask!

[2016-05-06 23:14] paulproteus commented on #1918
@zarvox remarked to me in person that the app offering an `EmailSendPort` somehow would be more idiomatic, but I am OK with the pull request getting merged.

[2016-05-06 23:27] paulproteus commented on #280
Things I've noticed in the year since this got filed.

- Web browsers usually don't show the cert question for an IFRAME, so you just see a blank area. See also: https://docs.sandstorm.io/en/latest/administering/self-signed/

- sandcats.io HTTPS exists now.

Given that, I am going to close this request for now, since we have an alternative way to get HTTPS working for new users.

[2016-05-06 23:27] paulproteus commented on #280
If people do think it's important to keep this open, please do leave a note.

[2016-05-06 23:36] ocdtrekkie commented on #280
I do kinda think it's important, if living internally in a business environment is a desired use case. (See: Sandstorm for Work.) Self-signed certs are what you get when you connect up a Cisco or HP device, or a VMware host or vCenter server, or almost any other network component. HTTPS is expected, outside CAs are not. And I don't think admins want the burden of having to generate and assign that

[2016-05-06 23:39] paulproteus commented on #280
That's fair. A problem is the wildcard+iframe thing - people's browsers don't even get a prompt to bypass the self-signed cert.

Should a Sandstorm install give people a CA to add to their browsers, as part of this self-signed flow? Honestly curious.

[2016-05-06 23:44] ocdtrekkie commented on #280
So, the frames have their own cert warnings because they're seen as different origins? Honestly, then giving people a CA to add (or more realistically deploy with Group Policy or similar) is probably not a bad idea.

People are going to have an existing environment and comfort level with different platforms their organization uses. As a SysAdmin in a Windows-heavy environment, my familiarity is wi

[2016-05-07 00:16] paulproteus commented on #280
FWIW: It's even worse than that, It's that the browser doesn't even show a warning (and it needs to, before it would proceed) in the case of an iframe.

[2016-05-07 00:17] paulproteus commented on #280
But yeah, we could do something where Sandstorm can export a CA for people to add. If that's actually valuable, I will re-open this! :)

[2016-05-07 01:14] mitar commented on #1743
Hm, I really do not think this is so common operation that it should be shown so visibly. Maybe now during development we create and erase grains often, but we should target normal users, not us developers.

Moreover, this introduces confusion that what if I do want to delete permanently. I press trash. And then I think it is deleted, but it is not. And then admin gets a subpoena and have to give

[2016-05-07 01:16] mitar commented on #1840
What if `spk` would simply use `vagrant-spk` internally?

I really like how Docker made it. So that client works always over the socket. And then you can have a boot2docker virtual image and then all local commands simply work. Personally I think this is where `vagrant-spk` should go with `spk` being just an interface to it with same API as normal `spk`.

[2016-05-07 01:28] mitar commented on #1853
I am not sure about valid `capnproto`, but the question is, does really have to be file `capnproto`, or could it be in some simpler language (yaml?) which would then be preprocessed into `capnproto`?

Does [this really look something you find second-nature](https://github.com/peer/mind/blob/master/sandstorm-pkgdef.capnp#L312)?

[2016-05-07 01:32] mitar commented on #1918
I completely do not understand what you are saying here. Care to rephrase it?

[2016-05-07 01:36] mitar commented on #1866
Done as that those few lines of code create Sandstorm compatible avatar and compress it as requested by @kentonv. It works for my app, but I think (as I described above) this is not something what each app should implement on its own, but something provided by Sandstorm.

So I think similar code could be used in Sandstorm.

If I remember correctly ~2kB -> ~150B.

Not sure where to. Where would be

[2016-05-07 01:38] mitar commented on #1924
How would copy/paste powerbox work in this case? So how could I submit a form in the name of the user inside a cron job using powerbox?

[2016-05-07 01:39] mitar commented on #1865
(Just a comment: I cannot reopen myself, but I can complain to be reopened.)

[2016-05-07 01:41] mitar commented on #1865
Otherwise, I am OK with permissions being managed through a script. I think it would be more useful if there would be documentation and examples how to do that, or even if default file would be setup so that it includes permissions list from another file. Because I still have now to manually figure all this out. @zarvox was very helpful here, but I do not expect issues should serve as documentatio

[2016-05-07 01:42] mitar commented on #1865
My current main issue related to this is #1851, which cannot be solved at "compile time" with a script.

[2016-05-07 01:51] mitar commented on #1851
Can this work besides HTTP bridge? Can I say to the HTTP bridge, do not provide any roles, and that I do not have to provide any roles through the `pkgdef.capnp` file, but that my app will connect to Sandstorm and instruct it what roles to provide in the dropdown?

The question though is, what happens if my app changes roles but some users are assigned now removed roles, for example?

[2016-05-07 01:52] mitar commented on #1851
So I do not think that there is need for HTTP bridge to really provide this, but there should be then a bit more documentation how you get to talk to Sandstorm from your app. It seems obvious to all you, but I am pretty lost. (Probably because I do not even a way to get session ID in Meteor.)

[2016-05-07 03:27] ocdtrekkie commented on #1853
You could probably make a quick web app that lets you add/edit/delete permissions and roles with forms and stuff, and then outputs the capnproto code easily enough.

[2016-05-07 03:29] ocdtrekkie commented on #1840
@mitar But vagrant-spk uses spk. So that'd be quite circular. Spk is like, the really baseline tool, and vagrant-spk is a package that implements spk in a much more compatible and easier to use way.

You shouldn't need to use spk at all, and solely use vagrant-spk and the commands it supports. (Which I believe includes spk's entire command set.)

[2016-05-07 04:20] ocdtrekkie commented on #1743
@mitar I suspect most people would prefer an oops button. The trash icon should tell you it is "sent to Trash". And it's actually much more clear than Windows, which uses an X, tooltip "Delete", but actually sends to the Recycle Bin.

[2016-05-07 05:32] mitar commented on #1840
I am saying, that for the whole tooling around Sandstorm it would be great if there would be one command, let's call it `spk`. And then you or have another one, `spk-daemon` which really do everything, or you have `spk` in two versions, one which calls `vagrant-spk`, and one which does it by itself.

But from the user perspective it is just `spk`. And from the tools calling this tool is just `spk`

[2016-05-07 05:33] mitar commented on #1743
How do we know that? User studies?

[2016-05-07 05:44] ocdtrekkie commented on #1840
@mitar I'm saying that tool is vagrant-spk. It sounds like you don't want to use spk, so don't use spk.

[2016-05-07 05:58] mitar commented on #1840
I am saying that to the end-user it should not matter how tool is implemented. I install "Sandstorm SDK" on my machine (Linux or Mac OS X or Windows) and I can start creating Sandstorm apps using `spk` and I open some address to see and interact with grains. This is it.

[2016-05-07 06:10] ocdtrekkie commented on #1840
You're not listening. `vagrant-spk` is the only dev tool the end user needs to know exists. You can start creating Sandstorm apps with it, and that's it.

[2016-05-07 06:11] ocdtrekkie commented on #1840
It's also the only one that the development tutorial teaches you to use.

[2016-05-07 06:17] mitar commented on #1840
And I am saying that exposing implementation in the name of the app is not a smart idea because you might have different implementations underneath for different cases.

[2016-05-07 20:52] kentonv commented on #280
Perhaps the better way to think of this bug is: "Sandstorm should provide good options for SSL in a corporate behind-the-firewall environment."

This could mean any of:
1. Good UX for using a self-signed cert.
2. Good UX for integrating with typical corporate infrastructure to issue SSL certificates.
3. Good UX for getting behind a pre-existing reverse proxy that deals with it.
4. Good UX for Sand

[2016-05-07 23:05] mitar opened #1954 "Provide installation stats for grains"
I am not completely sure if I just missed this, but as an app author it would be great to have some stats about how app is being used available. This is one of advantages of app markets provide to authors.

For example, I would love to know how many times my app has been installed, how many grains have been created, through time. Maybe even a histogram for how long grains were around (so that I ca

[2016-05-07 23:46] ocdtrekkie commented on #1954
I believe Sandstorm already does collect some usage data if the server admin opts in, though I'm not sure exactly what's collected right now.

I would take huge issue with individual Sandstorm servers reporting stats back to app developers directly, as it would identify the source of each stat broadcast, and for single-user servers, it wouldn't be particularly "anonymized". I'd say reporting stati

[2016-05-07 23:50] mitar commented on #1954
Yes, so there should be some official channels which would allow/provide it. This is really valuable info for app developers. So I am thinking here about non-malicious app developers trying to do the best possible for users.

We should of course want to prevent misuses. But this can also be a community effort to moderate such things. For example, maybe stats reporting could be allowed only for ope

[2016-05-08 18:21] OliverHi opened #1955 "Setting up Email SMTP errror 500 internal server error"
Hi there,

I love the idea of sandstorm so I tried to install it on a server of mine to test it. I ran the installer, (signed up for a domain name) and got the temporary link to create a first account. Logged into that and started the configuration wizard. I want to enable login via email (and email only if possible for now) so I had to fill in the SMTP data. I did that and double/tripple checked

[2016-05-08 18:57] zarvox opened #1956 "Make it possible to obtain server logs from within setup wizard"
See #1955 for an instance of where this would have been helpful.

It's difficult to debug SMTP delivery failure, particularly in the setup wizard, where you can't see the server log without SSHing into the machine.

We should make it possible to download and/or view the server log (where an exception stacktrace might be recorded) from the setup wizard.  I think I prefer the "download", since it's

[2016-05-08 18:58] zarvox commented on #1955
Hi!  Thanks for trying Sandstorm.

I'm not sure exactly what's going wrong, but if you can paste or gist the contents of `/opt/sandstorm/var/log/sandstorm.log`, that would be super helpful.

I've also filed #1956 about making debugging this failure mode more straightforward.

[2016-05-08 21:38] JonTheNiceGuy commented on #280
Interesting question.

So, I work for a Solutions Integrator, who also provides managed infrastructure for our customers, but I don't see a lot behind the scenes as we silo out roles and responsibilities. That said, as far as I can tell, there are only a few scenarios that are actually deployed:

Position 1:
No common root CA for the organisation. No AD or other provisioning technology (e.g. BYOD)

[2016-05-08 21:40] JonTheNiceGuy commented on #280
D'oh missed the non-ssl parts of the query. Will think on these tonight and expand on it tomorrow!

[2016-05-09 07:55] JonTheNiceGuy commented on #280
So, the easy bit.

### Reverse proxies

Position 6:
An existing Reverse Proxy exists. We still want to use HTTPS between proxy and server
Solution:
Follow position 2, 3, or 4 depending on network architecture. Provide documentation for paths to configure in the reverse proxy.

Position 7:
An existing Reverse Proxy exists. We do not want to use HTTPS between proxy and server
Solution:
Disable HTTPS

[2016-05-09 09:39] JonTheNiceGuy commented on #280
The more complicated bit:

### Internal IP addressing

This is tough for the first proof-of-concept to an environment, because unless you're somehow registered with the DNS service in use within your organisation, you won't be able to do the Wildcard goodness. Or even, really, do any DNS based resolution! Most organisations have boundary proxies and where these are set, will tend not to allow exte

[2016-05-09 12:57] OliverHi commented on #1955
Hi, thanks for the fast answer and the new ticket. I think this is a good idea.

I found a lot of these errors in the log:
`Exception while invoking method 'testSend' AuthError: Invalid login - 535 Incorrect authentication data
    at Object.Future.wait (/programs/server/node_modules/fibers/future.js:420:15)
    at smtpSend (packages/sandstorm-email/email.js:90:35)
    at Object.SandstormEmail.raw

[2016-05-09 18:10] np commented on #832
What's the status of this? Can this be re-opened?

[2016-05-09 18:25] zarvox commented on #1955
Yeah, it appears that the remote mailserver is explicitly rejecting the login, which is surprising if you've successfully used that set of credentials elsewhere.  Do the username or password contain a non-ASCII-clean character, or something that you've already escaped, or something else possibly unusual?  Do you need to possibly add or remove an `@example.com` to the username in question?

Selecti

[2016-05-09 20:20] dwrensha commented on #1915
As brought up on #1841, we probably need to update the billing prompt that comes up when you reach quota. Currently it looks like:
<img width="698" alt="out-of-storage" src="https://cloud.githubusercontent.com/assets/495768/15126802/d18c918e-1601-11e6-9063-c0a4f2e4293b.png">

I suppose we should update the text in the lower right and add an "empty trash" button. @neynah: what should this look like

[2016-05-09 20:31] neynah commented on #1915
@dwrensha I'm not sure if we want to add a "empty trash" button there since the user can't actually see what's in the trash. Also, if they don't have anything in the trash then that button is also not useful for them.

Perhaps we can replace the first 2 lines of text "If you run out of space, you'll need to delete one of your existing grains before you can create a new one. Open a grain and click

[2016-05-10 14:19] ndarilek opened #1957 "Extend offer templates to handle static hosting instructions"
Posted about this on the list but didn't get an answer, and think it might make a better issue. Would it be possible to extend offer templates such that they can display static hosting instructions, including generating the various things that the sample C++ code does?

I'm thinking you could add variables `$static_host` and `$static_txt_record`. When those variables are passed in an RPC call, the

[2016-05-10 16:44] techtonik opened #1959 "Can't run without VT-x"
[code]

I tried to use `$ VBoxManage modifyvm roundup_sandstorm_1462898296 --longmode off`, but every `vm up` recreates machine, so each time the name is different. Is there a way to pass the flag there?

[2016-05-10 16:58] paulproteus commented on #1959
Hi there! Thanks for filing this issue.

There are two main avenues to consider.

1. Embed this 'vboxmanage' command into your app's Vagrantfile

To do that, search for "VBOXMANAGE CUSTOMIZATIONS" at
https://www.vagrantup.com/docs/virtualbox/configuration.html

That is the best answer to your question, in my opinion.

2. Switch to using libvirt for virtualization, which I believe will fall
back to

[2016-05-10 18:09] paulproteus commented on #1957
Hi @ndarilek ,

Thanks for filing this. Here are my quick thoughts about this:

- `getPublicId` is part of `HackSessionContext` <https://github.com/sandstorm-io/sandstorm/blob/432be37489b210b19d9677f29befcd5c910a0f76/src/sandstorm/hack-session.capnp> and its return value is OK for grains to be aware of. For that reason, we make the C++ binary etc. available.

- By contrast, the API token (`$API_TO

[2016-05-10 18:10] paulproteus commented on #1957
One interesting aspect of option 3 is that any client of the grain can use this API, without asking the grain's backend code for permission. I _think_ that is OK, but I wanted to highlight that as we consider how to best do this.

[2016-05-10 18:20] ndarilek commented on #1957
I think #3 would work for me, and the downside you mentioned doesn't
really seem like one to me, because an app that doesn't require the
feature wouldn't have to upgrade sandstorm-http-bridge to get it. I.e.
if my app isn't written to take advantage of this endpoint then it
doesn't know it's missing and doesn't require an upgrade. Am I missing
something?

[2016-05-10 18:21] paulproteus commented on #1957
The "downside" is mostly that I would have to mention that in the docs, that's all. :)

[2016-05-10 20:17] zarvox opened #1960 "Admin Panel Redesign: Customization"
We need a place for some other fields that are currently supported, which approximately all fall under the category of "white-labeling" or "server customization":

* Server title
* Splash URL
* Signup Dialog:
* Terms of Service URL
* Privacy Policy URL

Barring any objections, I plan to make a basic form with our existing form styles for each of these at `/admin-new/customization`, and add a nav p

[2016-05-10 20:29] paulproteus commented on #1960
Just brainstorming:

- Whitelabeling
- Server identity
- Publicly-visible server customization
- Customization
- Personalization
- Personalize this server

[2016-05-10 20:37] paulproteus opened #1961 "Admin onboarding: Profile editor should show up with the same alignment as login prompt"
Steps to reproduce:

- Set up a new Sandstorm server

- Get all the way to the end where you are about to create an identity

- See a horizontally-centered box like this one.

![create-admin-account](https://cloud.githubusercontent.com/assets/25457/15161744/328fbf58-16b4-11e6-9bcd-d60b0d46c924.png)

- Sign in, and see a profile editor

Expected behavior:

- The new visual element should have the s

[2016-05-10 20:37] paulproteus commented on #1961
Per conversation with @zarvox I am going to assign this to him.

[2016-05-10 20:37] paulproteus commented on #1961
(Thanks!)

[2016-05-10 20:38] neynah commented on #1960
@zarvox Sounds great, feel free to poke me to take a look at it once you've made some progress!

Also, I like "Personalization" so far! Sounds less vague than "Customization".

[2016-05-10 21:27] ocdtrekkie commented on #1960
Suggestion: Can this be the same panel as App Sources? That is generally going to be a personalization/white-labeling activity as well.

[2016-05-10 22:00] zarvox commented on #1960
Hmmm.  I think I'm (barely) -0 on that idea for now, mostly because I think if I were an admin looking for a "disable checking for app updates" or "where do app updates come from" option, I'd be somewhat surprised to find it placed under "Personalization".  And I think if/when we add multi-app-index support, we'd wind up needing to pull those config options back out again later, and the less we sh

[2016-05-11 01:37] dwrensha commented on #826
Unassigning myself because I am not planning to work on this within the next two weeks.

[2016-05-11 07:29] techtonik commented on #1959
Hi @paulproteus. Thanks for the pointers. I will try them right away.

I started process about using LXC/LXD as a superior replacement for VirtualBox and friends (in terms of performance) on Linux systems, but I run out of funds to complete the implementation stage. So if you have spare resources, it would be nice to try this alternative.

[2016-05-11 07:52] techtonik commented on #1959
1. Setting `--longmode off` didn't help, and I don't remember why it should,

[2016-05-11 07:58] techtonik commented on #1959
2. Switching to `libvirt` also failed
[code]

[2016-05-11 08:28] paulproteus commented on #1959
This seems to be a bug in the Debian package for Vagrant: https://github.com/vagrant-libvirt/vagrant-libvirt/issues/575 and there seems to be a workaround listed there. Can you try that and let me know?

BTW I'll probably run into that shortly, so I'm glad you're trailblazing here.

[2016-05-11 08:30] paulproteus commented on #1959
Oh it looks like it's fixed in sid if you can update to version 1.8.1+dfsg-2.

[2016-05-11 08:33] gwillen commented on #1942
Agree on all counts.

[2016-05-11 10:35] techtonik commented on #1959
I am on Ubuntu 16.04 LTS and I forgot how to use package from Debian sid, so I just applied patch from https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=818237#28 manually. Installed `mutate` plugin successfully, getting back to shaving yaks.

[2016-05-11 12:04] techtonik commented on #1959
It looks like this step - https://github.com/sandstorm-io/vagrant-spk/blob/master/HOWTO-libvirt.md#produce-an-appropriate-box-for-usage-with-libvirt - is unnecessary.

[2016-05-11 12:25] techtonik commented on #1959
[code]
So how to install `libvirt` provider for Vagrant?

[2016-05-11 12:43] techtonik commented on #1959
Okay. [Managed](https://github.com/techtonik/rainforce/issues/35#issuecomment-218444624) to install `vagrant-libvirt` (kind of). Now getting this:
[code]

[2016-05-11 13:48] dwrensha commented on #1291
The answer to "Does it use the last one I used with a grain?" is "yes", and that's working as intended for non-legacy grains.

For legacy grains, after #1965 we will use the current identity for opening, which I think is the best we can do.

[2016-05-11 14:05] dwrensha commented on #677
Unassigning myself because I do not plan to work on this in the next two weeks.

Note that https://github.com/sandstorm-io/sandstorm/pull/1907 deals with another case where the share-by-email form gets disabled. However, since send an invite can be useful even in the case when email is not configured, I'm not sure that simply disabling the form is the best option. In particular, I suspect that peo

[2016-05-11 14:06] dwrensha commented on #489
Unassigning myself because I do not plan to work on this within the next two weeks.

[2016-05-11 17:55] zarvox commented on #1959
Check the permissions/groups on that socket file:

[code]

If it's restricted to a particular user/group (possibly `libvirt`?  I'm not sure how Ubuntu configures things), you might need to add yourself to the group:

[code]

And then log out and log in again, so that your user session is marked as having that group's access.  You can check by running:

[code]

and you should see the group you adde

[2016-05-11 18:07] techtonik commented on #1959
[code]

[2016-05-11 18:12] berndblume opened #1966 "White screen"
I have installed sandstorm on a home server. I'm using nginx as a reverse proxy.
When creating a paperwork notebook or a Wekan board, I get a white screen, see attached image.
Interestingly, I do *not* get that error when working with Laverna!
In the past, I had problems with WebSocket forwarding in my nginx config. I checked that and it seems OK.
In the log, I'm flooded with these messages:
[code

[2016-05-11 18:13] techtonik commented on #1959
Restarted and now it fails with
[code]

[2016-05-11 18:29] techtonik commented on #1959
Looks like it also requires VT-x, which is absent here
[code]

[2016-05-11 18:45] paulproteus commented on #1959
Per https://libvirt.org/drvqemu.html if you 'sudo dpkg -r kvm' but keep the
/usr/bin/qemu binary around, it should fall back properly.

[2016-05-11 19:17] techtonik commented on #1959
Why do I want to remove `kvm` package?

[2016-05-11 19:29] paulproteus commented on #1959
"kvm" only works when VT-x is available, if I understand correctly, and
libvirt's "qemu" driver attempts to use kvm if the kvm binary is available,
so if you remove it​, you'll allow libvirt's "qemu" driver to fall back to
actual qemu.

[2016-05-11 21:01] #1960 closed

[2016-05-11 22:22] #1825 closed

[2016-05-11 22:33] paulproteus commented on #1966
Hi Bernie,

I'm sort of stumped. Does the JS console log in your browser show anything
interesting?

Is it a matter of the server running out of RAM? If you run "dmesg", do you
see anything related to out of memory?

[2016-05-11 23:40] paulproteus opened #1967 "Trash view within app details should navigate to #trash upon clicking "View trash""
Steps to reproduce on a server with latest master e.g. https://asheeshdev.sandcats.io/

- Install Etherpad

- Create a grain

- Visit Etherpad app details page

- Click the box next to the grain

- Click "Move to trash"

- Click "View trash"

- Reload the page

- Suddenly I'm no longer viewing trash.

 Expected behavior:

- URL should navigate to `#trash`, so that reload works.

- (Also didn't we

[2016-05-11 23:40] paulproteus commented on #1967
Hi @dwrensha I think this is a new bug in master; curious if you're willing to self-assign it.

[2016-05-11 23:48] #1803 closed

[2016-05-11 23:49] zarvox commented on #220
I'm inclined to say that GPG login should probably be attached to an email identity rather than a separate type of identity for a couple of reasons:

* Sandstorm still needs to send email notifications in various circumstances, like when a grain is shared with you.  Also, a user claiming to Sandstorm that a GPG key is associated with an email address is not sufficient evidence of ownership of that

[2016-05-12 00:03] paulproteus opened #1969 "After moving a grain to trash, should navigate to /grain#trash not /grain"
Steps to reproduce:

- On e.g. asheeshdev.sandcats.io , visit an old etherpad grain of mine, i.e. my browser has navigated to http://asheeshdev.sandcats.io/grain/zcvEKdzwa9mNsfzg2Xkcny

- Decide that it doesn't matter to me anymore and click the "trash" icon

- Click OK or I agree or Yes (I forgot what, precisely) when asked if I mean it

- Mentally change my mind, and decide I want it back

Expec

[2016-05-12 00:04] paulproteus commented on #1969
Hi @dwrensha curious if you think this is worth addressing soon, so it goes into the same release as the trash UI.

[2016-05-12 00:06] zarvox commented on #1969
I believe that the current behavior is correct, and "deleting" a grain should not send you to /grains#trash.  Deleting an email does not take you to your trash folder.  Deleting a file in your file browser does not take you to the recycle bin.

I believe a more desirable behavior that might address your concerns might include having a flashed message acknowledging that the thing was moved to the t

[2016-05-12 00:12] neynah commented on #1969
@zarvox I agree that the user should stay on the current view but there should be some sort of indication a grain has been moved to trash. I'll quickly mock something up.

[2016-05-12 00:15] paulproteus commented on #1969
It _seems_ the reason my browser navigates to `/grain` is that the sidebar tab closes. I didn't understand that at first and thought that the navigate-to-/grain behavior was an intentional new feature of the trash code.

I discovered that through another surprise behavior, which I'll call "Delete one grain, see another one, become confused"

Steps to reproduce:

- Create two new etherpad grains, c

[2016-05-12 00:16] paulproteus commented on #1969
I don't have a strong opinion yet on the @neynah and @zarvox proposals, fwiw. I'm glad people are thinking about solutions and looking forward to seeing mockups/etc.

[2016-05-12 00:28] paulproteus commented on #1969
I think I would enjoy it if the grain tab did not go away, but instead the grain tab were reactively replaced by the message that already appears in the grain tab, indicating that the grain is no longer viewable due to being in the trash. That seems very clear to me.

I would also appreciate a link to the trash, and an indication that the grain will eventually be auto-deleted. For context I mean t

[2016-05-12 00:33] dwrensha commented on #1969
Sounds like removing the button from the topbar would also address Asheesh's concerns.

[2016-05-12 00:41] paulproteus commented on #1969
I agree with @dwrensha that removing the trash icon from the top bar would address my concerns. I didn't think about that when I filed this issue, but I guess I agree with that statement.

[2016-05-12 00:55] zarvox commented on #1969
I feel like I need to push back on some of these ideas.

---

I believe there exist users that will not take the time to learn how to use multiselect.  These users should still be able to delete grains, by opening them one-by-one and doing nothing but clicking single buttons.  I think it is reasonable that users will expect that they can navigate to a thing and then indicate an action that they wi

[2016-05-12 00:56] #631 closed

[2016-05-12 00:57] ocdtrekkie commented on #1969
I agree with Drew FWIW that you still need to be able to delete a grain while in that grain. Though it should be less high level than a top button. I look forward to less used top bar options moving to a dropdown someday soon.

[2016-05-12 01:02] zenhack commented on #220
Question: How do email notifications work with github login?

Observation: what you propose is basically just the existing email login
except that the token emails are encrypted.

I don't know that I think the UX is going to be much worse than the "go
check your email" already is (which *is* actually rather annoying).
Either way I have to open a new window, authenticate against something
else, the

[2016-05-12 01:37] zarvox commented on #220
Good question!  GitHub provides a set of verified email addresses, and we trust those.  You can see the email addresses you've proven to Sandstorm at e.g. https://oasis.sandstorm.io/account .  If you haven't proven any email address to GitHub, then it'll just be your GitHub noreply address, and that is indeed sad UX because then you won't have any way to receive notifications from the server, and

[2016-05-12 01:40] neynah commented on #1969
Rough proposal:
- user clicks trash
- sees this confirmation (grain title still visible in the top bar) with some text and 2 buttons: "Move to trash" and "Cancel".
- once they move to trash we can show a success message on this view before we redirect them

![image](https://cloud.githubusercontent.com/assets/855341/15201583/76a62774-17a7-11e6-91cf-89c87f5ba3a7.png)
![image](https://cloud.githubuse

[2016-05-12 01:54] #1306 closed

[2016-05-12 02:35] zarvox commented on #1969
Let's try to be consistent with buttons in forms - default action button is usually the right-most one.  Alternate action buttons queue up to the left.  Ideally, their tab order is right-to-left, so the default action button is the first one you encounter.  If you use:

[code]

[code]

...you should get the described behavior.

That said, do we actually still need a modal prompt for a single grain

[2016-05-12 04:14] berndblume commented on #1966
Hi Asheesh,

thanks for the tips!

The instance I tried first had 2.5GB of RAM and 2 CPUs. Now I created a new instance with 8GB of RAM and 4 vCPUs - I think that should suffice…

Unfortunately, still the same effect.

Here’s what I found in my browser console:

05eea1f….js?meteor_js_resource=true:191 openSession error n(anonymous function) @ 05eea1f….js?meteor_js_resource=true:191

Refused to fra

[2016-05-12 07:48] techtonik commented on #1959
I'd prefer a way to switch to "qemu" driver explicitly, so I used `libvirt.driver = "qemu"` and done `apt install qemu` to get a little further. It still fails with:
[code]

[2016-05-12 07:50] techtonik commented on #1959
Second run seems to go ok, but I don't see anything running at http://local.sandstorm.io:6080/
[code]

[2016-05-12 07:53] techtonik commented on #1959
There is something running, but it says the `The connection was reset`.

[2016-05-12 08:50] techtonik commented on #1959
Looks like `install.sh` script failed, but it started.

[2016-05-12 08:52] techtonik opened #1974 "install.sh permission problem with libvirt/qemu"
[code]

[2016-05-12 09:00] techtonik commented on #1974
Some kind of permission problem, but I have no idea

![sandstorm](https://cloud.githubusercontent.com/assets/515889/15209296/fa0ecb70-1838-11e6-8d23-3c120be45c13.png)

[2016-05-12 09:04] techtonik commented on #1974
Looks like a pointer - https://github.com/vagrant-libvirt/vagrant-libvirt/issues/274

[2016-05-12 10:19] OliverHi commented on #1955
Thank you for your help, it is actually working now! I don't really know what I changed, I guess I misstyped the first few times somehow.
I still think it's a good idea to show something like "wrong login"/"login refused"/... instead of "internal server error" ;)

[2016-05-12 10:19] #1955 closed

[2016-05-12 16:31] OliverHi opened #1976 "Restrict access to grain"
Hi,

I have set up a sandstorm server for a small group of people to use and I am currently "fighting" with access control.
I want to be able to create a lets say etherpad spreadsheet and then invite someone else to work with me on it. That works via the share button/links. The problem is that these people seem then to be able to invite anyone else too (and can I even see who?). Can I somehow stop

[2016-05-12 16:34] OliverHi opened #1977 "Configure Access from LAN and Internet"
Hi,

my sandstorm server is available via the sandcats DNS service and can thus be reached from the internet. The place where the server is running doesn't have a good internet connection though and most of us that are using it are in the same LAN anyways. Can I somehow configure the server to be reachable both via LAN and Internet?
Couldn't really find any information about that.

Thanks!

[2016-05-12 17:46] kentonv commented on #1976
Hi Oliver,

The short answer is that restricting resharing will be possible eventually, but is not there yet. However, you should keep in mind that it is not actually possible to prohibit a malicious user from resharing; it's only possible to create speedbumps to discourage non-malicious users.

The long answer is this blog post, which describes at length why we choose to allow resharing by defaul

[2016-05-12 18:06] paulproteus commented on #1977
Hi @OliverHi ,

Can you use the sandcats hostname from inside the LAN? I can for my server, but it seems to depend on if your LAN router supports "hairpin routing", so let me know if you've tried that.

[2016-05-12 18:41] paulproteus commented on #1966
Got it. Can you share your sandstorm.conf? My guess is a port number
disagreement between WILDCARD_HOST and BASE_URL.​

[2016-05-12 22:03] berndblume commented on #1966
Here's my sandstorm.conf:
[code]
Again, everything works fine with Laverna. Wekan and paperwork do not work.

[2016-05-12 22:12] zenhack commented on #220
I think those are good use cases. Perhaps the PGP thing could actually be orthoginal to the login type; essentially a "when you send me email, encrypt it" checkbox. Might be beter than the proliferation of more login options (esp. with things that are somewhat niche); I think this could be fairly non-intrusive.

Random thought: Github semi-recently provided the ability to register public keys with

[2016-05-12 22:28] paulproteus commented on #1966
Oh, you have an nginx in front of it, right, that makes it available on
port 80 by doing a reverse proxy?

If so, please do the following things.

1. Adjust BIND_IP to 127.0.0.1, restart Sandstorm, and make sure nothing
new breaks.

2. Adjust BASE_URL to remove the :6080 and WILDCARD_HOST to remove the
:6080  You don't need the :6080 because of your reverse proxy. Restart
Sandstorm, make sure noth

[2016-05-12 22:53] berndblume commented on #1966
I am running everything on port 6080: The user types :6080 into the browser, my home roter forwards port 6080 to my nginx, retaining port 6080. Ngnix listens on 6080 and forwards to upstream sandstorm, also port 6080.
What I did after your response is I changed nginx to listen to port 80. Changed my home router port forwarding to map incoming 6080 to port 80 on my nginx. Also changed BIND_IP to 12

[2016-05-12 22:58] paulproteus commented on #1966
Oh - I didn't realize nginx was listening on port 6080! In my manual
testing of your server, it seemed that nginx was listening on port 80. I
too was confused by the possibility that you can use Laverna properly but
not Paperwork.

When I last thought of it, I was only thinking it would be a Sandstorm bug
or weird configuration. Now I wonder if this is a bug in the apps. It looks
like they might b

[2016-05-12 23:19] berndblume commented on #1966
Oh, that might be!!!
That means for me: I'll have to make sandstorm publicly available on port 80. This will be a challenge for me because me home router forwards port 80 to a different host... And I cannot make port forwarding dependent on the domain name in the router, just dependent on port numbers.
So for now I must probably use two nginx instances after each other (from router to nginx1, from

[2016-05-12 23:22] paulproteus commented on #1966
That could work! But why involve nginx2 at all? Why not have nginx1 go
straight to node/sandstorm?​

[2016-05-12 23:37] #1360 closed

[2016-05-12 23:41] berndblume commented on #1966
Because my router forwards (and needs to continue to forward) port 80 to a production server, running a number of non-sandstorm apps. And the purpose of the whole exercise to test sandstorm on a *different* piece of hardware (an antsle, see https://antsle.com).

[2016-05-12 23:47] paulproteus commented on #1966
(Antsle looks cool!)

Thanks for explaining; I think I understand better. For what it's worth, a
common configuration is to use nginx to look at the "Host" header, and
based on that, pick which internal machine to send the request to.​

https://github.com/sandstorm-io/sandstorm/blob/master/docs/administering/sample-config/nginx-example.conf
is an example config file that does that - notice that it

[2016-05-12 23:52] paulproteus commented on #1966
I adjusted my own server to use port 6080 and I can use Paperwork OK. Example sharing link:

- http://asheeshdev.sandcats.io:6080/shared/K78OtsU7XcrGddo9xafxZkbkbwuLAQR-0L169cwp4rd

Same with Wekan. Example sharing link:

- http://asheeshdev.sandcats.io:6080/shared/AO7ds7W9DW1mNbi2tjJcivsfP4kEVQAmjNrW3iUaXe0

My server (in this case) doesn't use nginx, just 100% Sandstorm.

I wonder if there is so

[2016-05-12 23:57] berndblume commented on #1966
Thanks, Asheesh! Yes, I do froward based on domain names in my nginx isntances. The thing is there is no nginx in my router, so I do need these two steps, but that is just for testing and due to me running kind of complete "datacenter" in my home, consisting of three antsle servers, each running ~20 VMs... :-) That won't be the case for any antsle clients, though...
I configured everything and ind

[2016-05-13 00:34] paulproteus commented on #1281
Hi @noci2012 ,

Here's some proposed logic.

- Check if port 80 is available. If not, hope that 6080 is available and use that for HTTP.

- Check if port 443 is available. If not, hope that 6443 is available and use that for HTTPS, if the user has a sandcats hostname.

The primary change is that by default, then, on a system with sandcats but port 443 already bound, after this change, the system w

[2016-05-13 14:21] noci2012 commented on #1281
That should work..., and the implicit choice is ok, if documented, and notified.
The capability to specifiy is also ok.
(documented so one can prepare a proxy for it, notify to confirm the usage).

[2016-05-13 17:45] #1967 closed

[2016-05-13 17:49] #1826 closed

[2016-05-13 17:57] #1291 closed

[2016-05-13 18:00] #1194 closed

[2016-05-13 18:05] #1775 closed

[2016-05-13 18:19] paulproteus commented on #1281
Thanks! I'll work on implementing this soon, then.

[2016-05-14 21:50] kentonv opened #1982 "There is some sort of memory leak in the shell"
In production lately we've seen a few cases where the node process has consumed gigabytes of RAM. It's unclear whether it is actively using said memory, or if it allocated memory for a transient operation then never released it back to the OS (common behavior for some memory allocators).

Things to investigate:
* Can this be caused by buffering large file downloads?
* Could the new permissions com

[2016-05-14 22:40] kentonv opened #1983 "Deleting a currently-open grain does not close it"
Permanently deleting a grain that is open in the sidebar causes the sidebar tab to revert to "(unknown grain)" with a generic identicon. We should probably automatically close the sidebar tab.

[2016-05-15 00:34] kentonv opened #1984 "Signing in from a share link to an account that already has access to the grain leads to error"
Steps to reproduce:
1. Create grain as Alice.
2. Create share link.
3. Open share link in a browser that is not logged in.
4. Once opened, click to sign in as Bob via Google or Github.
5. See the grain open correctly.
6. Sign out.
7. Browse to the share link again (while signed out).
8. Sign in as Bob again.

Expected result: Grain opens again as in step 5.
Actual result: Blank-ish screen:

![scre

[2016-05-15 07:04] kentonv commented on #1954
Probably the right answer here is that we should share _aggregate_ stats collected by Sandstorm back to app authors. You couldn't tell whose server was running what, but you could get a count of how many active users you have and such. Of course, only servers which opted into stats collection would be counted.

[2016-05-15 07:07] kentonv commented on #1855
@paulproteus No, it does not.

[2016-05-15 10:58] kentonv commented on #832
Sorry, this is still on the backburner. We have a lot on our plate...

[2016-05-15 20:28] jacksingleton opened #1985 "App Upload confused with "Upload File""
People using Sandstorm for the first time initially thought that the "Upload" button on the Apps page would let them upload a local file.

Although when you're familiar with Sandstorm, the fact that it's on the Apps page makes it clear that it is for uploading a new application, it makes sense to me that this is confusing especially when coming to Sandstorm as an alternative to Google Docs.

As up

[2016-05-15 20:36] jacksingleton opened #1986 ""What is a grain?""
During a recent user feedback session a very common question that came up was "What is a grain?"

This group of people were using Sandstorm for the first time, after being invited to the server via email.

[2016-05-15 20:41] ocdtrekkie commented on #1985
I kinda wish you could just upload arbitrary files without an app to wrap them.

Would changing "Upload" to "Upload App" or something similar make it less confusing?

[2016-05-15 20:44] ocdtrekkie commented on #1986
I know for a while, they were replacing the 'grain' term with 'file' in the UI, but that was probably more confusing, because you could put files in a grain, and some grains aren't really used like 'files' in a traditional sense. Your inbox or website could be a grain.

I think people will need to learn what a grain is. I think it's probably 'a unit container of information' at some level.

[2016-05-15 21:01] jacksingleton commented on #1986
Yeah I don't have a perfect answer :)

As an admin part of me wants to be able to rename "Grain" myself. Although I'm not sure what to call it instead -- Document is the best I can think of for now. I think the most intuitive name will vary from group to group, but can also see the benefit of keeping it Grain across all Sandstorm instances.

We might also be able to improve the first use experienc

[2016-05-15 21:08] dwrensha opened #1987 "wildcard host self-test should report the actual error if there is one"
Currently we throw away the error: https://github.com/sandstorm-io/sandstorm/blob/v0.163/shell/client/admin-client.js#L1179-L1195

[2016-05-15 21:12] jacksingleton commented on #1985
Yeah I think that would help.

[2016-05-15 21:23] ocdtrekkie commented on #1986
My notion is that Sandstorm will eventually (inevitably?) become popular enough that grain is simply a term people will learn when learning basic computing.

But then, I'm occasionally exceesingly optimistic about things I like. :)

[2016-05-15 21:24] ocdtrekkie commented on #1986
And yeah, I think naming it differently server to server would lead to difficulties in troubleshooting, documentation in apps, etc.

[2016-05-15 23:40] paulproteus commented on #1986
BTW, random idea:

When we send an email invite, we can look up the nounPhrase for this grain
(e.g. "Untitled Etherpad document" => "Subject: Jack Singleton has shared a
document with you")

[2016-05-15 23:46] paulproteus commented on #1987
I wrote this code, and I will fix it. Thanks to @dwrensha for filing and Tuxick on IRC for initial report/request.

[2016-05-15 23:53] ocdtrekkie commented on #1986
That seems sensible, Asheesh.

[2016-05-16 05:36] techtonik commented on #1986
If `document` is data, then `grain` is data+logic, right?

[2016-05-16 05:56] techtonik commented on #1974
Failing line 14 in `global-setup.sh` is this:
[code]
It tries to download a file into `/host-dot-sandstorm` dir. This dir is a share endpoint created by `libvirt` in `passthrough` mode as shown in:
[code]
The problem is here - for some reason files can be read in `passthrough` mode, but not written. Need to find error log to dig further.

[2016-05-16 17:59] kentonv commented on #220
Hmm, it would be interesting to be able to tell Sandstorm to PGP-encrypt all email sent to my address. For that reason alone I'd say that focusing on adding PGP as a modifier to existing identities, rather than a new kind of identity, makes sense.

I still do think that having an identity type that is actually a public key would be useful. Arguably, having a verified email address is not necessary

[2016-05-16 18:15] #1823 closed

[2016-05-16 19:09] neynah commented on #1743
As of #1950 grains now need to be trashed before they are deleted.

[2016-05-16 19:10] neynah commented on #364
We've now implemented multi-select and grain trash in #1950 which addresses @phildini's concerns on this issue.

[2016-05-16 19:51] #1743 closed

[2016-05-16 19:52] dwrensha commented on #1915
Closing because this has shipped. Further refinements or bug reports should go in separate issues.

[2016-05-16 19:52] #1915 closed

[2016-05-16 19:52] #364 closed

[2016-05-17 02:47] #1984 closed

[2016-05-17 03:04] kentonv opened #1995 "New admin issues"
* [x] SAML users should use LDAP icon.
* [x] The text describing the difference between admin/user/visitor could be confused as saying that the user you are looking at is those things.
* [x] If `unverifiedEmail` matches a verified email, it should be ignored. Currently, the email is shown twice, claiming both "verified" and "unverified".
* [x] After clicking to send a test email I clicked "send te

[2016-05-17 16:17] zenhack opened #1998 "Idea: pre-allocate (instead of randomizing) domains for cors workaround"
The drawbacks of requiring wildcard certs are well-acknowledged. Unfortunately it's looking like let's encrypt isn't going to support them anytime soon. My understanding is that the randomized domains thing is just there to prevent grains from being able to bypass cors on each other. I had an idea: rather than picking random domains, pre-allocate a decently-sized pool of them, get a cert that's va